In [1]:
import pandas as pd

In [2]:
%%time
SciNet_PaperAuthorAffiliations = pd.read_csv(
    '../Final-SciNet-Tables/SciNet_PaperAuthorAffiliations.tsv', sep='\t')
SciNet_PaperAuthorAffiliations

CPU times: user 1min 41s, sys: 24.7 s, total: 2min 6s
Wall time: 2min 9s

              PaperID    AuthorID  AffiliationID  AuthorSequenceNumber
0                  15   199142497            NaN                     1
1                  15   680395887            NaN                     2
2                  23  1243978490     79576946.0                     1
3                  23  2582258949            NaN                     3
4                  23  2582736345            NaN                     2
...               ...         ...            ...                   ...
413869496  3217811007  2105102610    197604219.0                     1
413869497  3217811007  2124977231    197604219.0                     4
413869498  3217811007  2333854634    197604219.0                     3
413869499  3217811007  2630813988    197604219.0                     2
413869500  3217811007  3184663099    197604219.0                     5

[413869501 rows x 4 columns]

In [3]:
date_str = "2021-12-06"

In [4]:
%%time
import csv
import pandas as pd

df_MAG_Affiliations = pd.read_csv('../../MAG_'+date_str+'/mag/Affiliations.txt', sep='\t', header=None, quoting=csv.QUOTE_NONE, 
                      usecols=[0,2,3,4,5,10,11,12])
df_MAG_Affiliations

CPU times: user 135 ms, sys: 21.3 ms, total: 156 ms
Wall time: 236 ms

,0,2,3,4,5,10,11,12
0,20455151,air liquide,Air Liquide,grid.476009.c,https://web.archive.org/web/20100205175402/htt...,GB,52.503593,-1.805160
1,24386293,hellenic national meteorological service,Hellenic National Meteorological Service,NaN,http://www.hnms.gr/hnms/english/index_html,GR,37.976140,23.736400
2,32956416,catholic university of the west,Catholic University of the West,grid.448708.7,http://www.uco.fr/,FR,47.464720,-0.548610
3,35926432,mackay medical college,Mackay Medical College,grid.452449.a,http://www.mmc.edu.tw/,TW,25.254360,121.495087
4,37448385,chinese people s public security university,Chinese People's Public Security University,NaN,http://www.ppsuc.edu.cn/,CN,39.904690,116.407173
...,...,...,...,...,...,...,...,...
27071,3130807960,diamond harbour women s university,Diamond Harbour Women's University,grid.449077.9,http://dhwu.ac.in/,IN,22.258074,88.195140
27072,3131031036,mediterranean school of business,Mediterranean School of Business,grid.442611.4,https://www.msb.tn/,TN,36.846280,10.268974
27073,3132176766,torbat heydarieh university of medical sciences,Torbat Heydarieh University of Medical Sciences,grid.449612.c,http://www.thums.ac.ir,IR,35.282295,59.219544
27074,3132554608,university of the latin american educational c...,University of the Latin American Educational C...,grid.441722.6,https://www.ucel.edu.ar/,AR,-32.955547,-60.644134
27075,3132999081,marwadi university,Marwadi University,grid.508494.4,https://www.marwadiuniversity.ac.in/,IN,22.367378,70.797210

In [8]:
df_MAG_Affiliations[pd.isnull(df_MAG_Affiliations[12])]

,0,2,3,4,5,10,11,12
113,10108243,south shields,South Shields,NaN,NaN,NaN,NaN,NaN
138,134761920,eads astrium space transportation,EADS Astrium Space Transportation,NaN,http://www.astrium.eads.net/,NaN,NaN,NaN
220,26402615,raghu engineering college,Raghu Engineering College,NaN,NaN,NaN,NaN,NaN
252,146592066,westinghouse astronuclear laboratory,Westinghouse Astronuclear Laboratory,NaN,NaN,NaN,NaN,NaN
266,189532585,japan institute for labour policy and training,Japan Institute for Labour Policy and Training,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
26923,1291115725,petroleum safety authority norway,Petroleum Safety Authority Norway,NaN,http://www.PSA.no,NaN,NaN,NaN
26989,111187474,center for functional nanomaterials,Center for Functional Nanomaterials,NaN,NaN,NaN,NaN,NaN
27010,207409579,evolution robotics,Evolution Robotics,NaN,NaN,NaN,NaN,NaN
27017,645690887,tgt oil and gas services,TGT Oil and Gas Services,NaN,http://tgtoil.com/,NaN,NaN,NaN
27022,913583111,college of information technology,College of Information Technology,NaN,NaN,NaN,NaN,NaN

In [9]:
%%time
df_MAG_Affiliations.rename(columns={0:'AffiliationID',2:'Normalized_Name',3:'Affiliation_Name',4:'GridID',5:'Official_Page',
                              10:'ISO3166Code', 11:'Latitude', 12:'Longitude'},
                      inplace=True)
df_MAG_Affiliations

CPU times: user 1.17 ms, sys: 0 ns, total: 1.17 ms
Wall time: 1.13 ms

,AffiliationID,Normalized_Name,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude
0,20455151,air liquide,Air Liquide,grid.476009.c,https://web.archive.org/web/20100205175402/htt...,GB,52.503593,-1.805160
1,24386293,hellenic national meteorological service,Hellenic National Meteorological Service,NaN,http://www.hnms.gr/hnms/english/index_html,GR,37.976140,23.736400
2,32956416,catholic university of the west,Catholic University of the West,grid.448708.7,http://www.uco.fr/,FR,47.464720,-0.548610
3,35926432,mackay medical college,Mackay Medical College,grid.452449.a,http://www.mmc.edu.tw/,TW,25.254360,121.495087
4,37448385,chinese people s public security university,Chinese People's Public Security University,NaN,http://www.ppsuc.edu.cn/,CN,39.904690,116.407173
...,...,...,...,...,...,...,...,...
27071,3130807960,diamond harbour women s university,Diamond Harbour Women's University,grid.449077.9,http://dhwu.ac.in/,IN,22.258074,88.195140
27072,3131031036,mediterranean school of business,Mediterranean School of Business,grid.442611.4,https://www.msb.tn/,TN,36.846280,10.268974
27073,3132176766,torbat heydarieh university of medical sciences,Torbat Heydarieh University of Medical Sciences,grid.449612.c,http://www.thums.ac.ir,IR,35.282295,59.219544
27074,3132554608,university of the latin american educational c...,University of the Latin American Educational C...,grid.441722.6,https://www.ucel.edu.ar/,AR,-32.955547,-60.644134
27075,3132999081,marwadi university,Marwadi University,grid.508494.4,https://www.marwadiuniversity.ac.in/,IN,22.367378,70.797210

In [10]:
df_MAG_Affiliations = df_MAG_Affiliations.drop(columns=['Normalized_Name'])
df_MAG_Affiliations

,AffiliationID,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude
0,20455151,Air Liquide,grid.476009.c,https://web.archive.org/web/20100205175402/htt...,GB,52.503593,-1.805160
1,24386293,Hellenic National Meteorological Service,NaN,http://www.hnms.gr/hnms/english/index_html,GR,37.976140,23.736400
2,32956416,Catholic University of the West,grid.448708.7,http://www.uco.fr/,FR,47.464720,-0.548610
3,35926432,Mackay Medical College,grid.452449.a,http://www.mmc.edu.tw/,TW,25.254360,121.495087
4,37448385,Chinese People's Public Security University,NaN,http://www.ppsuc.edu.cn/,CN,39.904690,116.407173
...,...,...,...,...,...,...,...
27071,3130807960,Diamond Harbour Women's University,grid.449077.9,http://dhwu.ac.in/,IN,22.258074,88.195140
27072,3131031036,Mediterranean School of Business,grid.442611.4,https://www.msb.tn/,TN,36.846280,10.268974
27073,3132176766,Torbat Heydarieh University of Medical Sciences,grid.449612.c,http://www.thums.ac.ir,IR,35.282295,59.219544
27074,3132554608,University of the Latin American Educational C...,grid.441722.6,https://www.ucel.edu.ar/,AR,-32.955547,-60.644134
27075,3132999081,Marwadi University,grid.508494.4,https://www.marwadiuniversity.ac.in/,IN,22.367378,70.797210

In [11]:
%%time
df_Affiliations_Sel = df_MAG_Affiliations.loc[
    df_MAG_Affiliations['AffiliationID'].isin(SciNet_PaperAuthorAffiliations['AffiliationID']), :]
df_Affiliations_Sel

CPU times: user 4.74 s, sys: 1.02 s, total: 5.76 s
Wall time: 5.76 s

,AffiliationID,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude
0,20455151,Air Liquide,grid.476009.c,https://web.archive.org/web/20100205175402/htt...,GB,52.503593,-1.805160
1,24386293,Hellenic National Meteorological Service,NaN,http://www.hnms.gr/hnms/english/index_html,GR,37.976140,23.736400
2,32956416,Catholic University of the West,grid.448708.7,http://www.uco.fr/,FR,47.464720,-0.548610
3,35926432,Mackay Medical College,grid.452449.a,http://www.mmc.edu.tw/,TW,25.254360,121.495087
4,37448385,Chinese People's Public Security University,NaN,http://www.ppsuc.edu.cn/,CN,39.904690,116.407173
...,...,...,...,...,...,...,...
27071,3130807960,Diamond Harbour Women's University,grid.449077.9,http://dhwu.ac.in/,IN,22.258074,88.195140
27072,3131031036,Mediterranean School of Business,grid.442611.4,https://www.msb.tn/,TN,36.846280,10.268974
27073,3132176766,Torbat Heydarieh University of Medical Sciences,grid.449612.c,http://www.thums.ac.ir,IR,35.282295,59.219544
27074,3132554608,University of the Latin American Educational C...,grid.441722.6,https://www.ucel.edu.ar/,AR,-32.955547,-60.644134
27075,3132999081,Marwadi University,grid.508494.4,https://www.marwadiuniversity.ac.in/,IN,22.367378,70.797210

In [12]:
%%time
len(df_Affiliations_Sel['AffiliationID'].unique())

CPU times: user 2.28 ms, sys: 1.83 ms, total: 4.1 ms
Wall time: 3.19 ms

26998

In [13]:
%%time
len(SciNet_PaperAuthorAffiliations['AffiliationID'].unique())

CPU times: user 4.16 s, sys: 8.77 ms, total: 4.17 s
Wall time: 4.17 s

26999

In [14]:
%%time
df_Affi_Prod = pd.read_csv('../Final-Data-Metrics/Data-Count/SciNet-Prod-Institute.tsv', sep='\t')
df_Affi_Prod

CPU times: user 11.5 ms, sys: 2.03 ms, total: 13.5 ms
Wall time: 50 ms

       AffiliationID  Productivity
0       4.605000e+03           570
1       9.507000e+03          1628
2       1.585500e+04           383
3       1.972200e+04          2213
4       4.187000e+04          2678
...              ...           ...
26993   3.211898e+09             1
26994   3.212162e+09             1
26995   3.212232e+09             7
26996   3.213159e+09             1
26997   3.214989e+09             1

[26998 rows x 2 columns]

In [15]:
%%time
df_Hindex = pd.read_csv('../Final-Data-Metrics/Data-Count/SciNet-H-Index-Institute.tsv', sep='\t')
df_Hindex

CPU times: user 12.2 ms, sys: 1.27 ms, total: 13.4 ms
Wall time: 29.6 ms

       AffiliationID  H-Index
0       7.957695e+07      927
1       1.651028e+08      129
2       1.691996e+08      232
3       2.373240e+07      275
4       2.801628e+09      103
...              ...      ...
26993   2.963242e+09        0
26994   3.133314e+09        0
26995   2.970214e+09        0
26996   2.803027e+09        0
26997   3.174603e+09        0

[26998 rows x 2 columns]

In [16]:
%%time
df_AvgC10 = pd.read_csv('../Final-Data-Metrics/Data-Count/SciNet-Average-C10-Institute.tsv', sep='\t')
df_AvgC10

CPU times: user 22.5 ms, sys: 3.85 ms, total: 26.4 ms
Wall time: 25.2 ms

       AffiliationID  Average_C10  Average_LogC10
0       1.691996e+08    28.906271        2.183466
1       2.373240e+07    40.110641        2.572957
2       1.118541e+06    45.001737        2.557743
3       1.482831e+08    66.300973        2.860015
4       9.545749e+07    60.693645        2.764950
...              ...          ...             ...
25129   2.800940e+09     0.000000        0.000000
25130   3.127049e+09     0.000000        0.000000
25131   2.802564e+09     0.000000        0.000000
25132   2.158359e+08     0.000000        0.000000
25133   3.211523e+09     0.000000        0.000000

[25134 rows x 3 columns]

In [18]:
%%time
df_Affiliations_Sel1 = df_Affiliations_Sel.merge(
    df_Hindex, how='left', on='AffiliationID')
df_Affiliations_Sel1

CPU times: user 26.1 ms, sys: 3.79 ms, total: 29.9 ms
Wall time: 28.5 ms

,AffiliationID,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude,H-Index
0,20455151,Air Liquide,grid.476009.c,https://web.archive.org/web/20100205175402/htt...,GB,52.503593,-1.805160,65
1,24386293,Hellenic National Meteorological Service,NaN,http://www.hnms.gr/hnms/english/index_html,GR,37.976140,23.736400,19
2,32956416,Catholic University of the West,grid.448708.7,http://www.uco.fr/,FR,47.464720,-0.548610,37
3,35926432,Mackay Medical College,grid.452449.a,http://www.mmc.edu.tw/,TW,25.254360,121.495087,67
4,37448385,Chinese People's Public Security University,NaN,http://www.ppsuc.edu.cn/,CN,39.904690,116.407173,27
...,...,...,...,...,...,...,...,...
26993,3130807960,Diamond Harbour Women's University,grid.449077.9,http://dhwu.ac.in/,IN,22.258074,88.195140,9
26994,3131031036,Mediterranean School of Business,grid.442611.4,https://www.msb.tn/,TN,36.846280,10.268974,3
26995,3132176766,Torbat Heydarieh University of Medical Sciences,grid.449612.c,http://www.thums.ac.ir,IR,35.282295,59.219544,20
26996,3132554608,University of the Latin American Educational C...,grid.441722.6,https://www.ucel.edu.ar/,AR,-32.955547,-60.644134,0
26997,3132999081,Marwadi University,grid.508494.4,https://www.marwadiuniversity.ac.in/,IN,22.367378,70.797210,19

In [19]:
%%time
df_Affiliations_Sel2 = df_Affiliations_Sel1.merge(
    df_Affi_Prod, how='left', on='AffiliationID')
df_Affiliations_Sel2

CPU times: user 30.6 ms, sys: 142 µs, total: 30.7 ms
Wall time: 29.4 ms

,AffiliationID,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude,H-Index,Productivity
0,20455151,Air Liquide,grid.476009.c,https://web.archive.org/web/20100205175402/htt...,GB,52.503593,-1.805160,65,1503
1,24386293,Hellenic National Meteorological Service,NaN,http://www.hnms.gr/hnms/english/index_html,GR,37.976140,23.736400,19,87
2,32956416,Catholic University of the West,grid.448708.7,http://www.uco.fr/,FR,47.464720,-0.548610,37,344
3,35926432,Mackay Medical College,grid.452449.a,http://www.mmc.edu.tw/,TW,25.254360,121.495087,67,2286
4,37448385,Chinese People's Public Security University,NaN,http://www.ppsuc.edu.cn/,CN,39.904690,116.407173,27,1875
...,...,...,...,...,...,...,...,...,...
26993,3130807960,Diamond Harbour Women's University,grid.449077.9,http://dhwu.ac.in/,IN,22.258074,88.195140,9,114
26994,3131031036,Mediterranean School of Business,grid.442611.4,https://www.msb.tn/,TN,36.846280,10.268974,3,11
26995,3132176766,Torbat Heydarieh University of Medical Sciences,grid.449612.c,http://www.thums.ac.ir,IR,35.282295,59.219544,20,205
26996,3132554608,University of the Latin American Educational C...,grid.441722.6,https://www.ucel.edu.ar/,AR,-32.955547,-60.644134,0,14
26997,3132999081,Marwadi University,grid.508494.4,https://www.marwadiuniversity.ac.in/,IN,22.367378,70.797210,19,326

In [20]:
%%time
df_Affiliations_Sel3 = df_Affiliations_Sel2.merge(
    df_AvgC10, how='left', on='AffiliationID'
)
df_Affiliations_Sel3

CPU times: user 29.2 ms, sys: 3.01 ms, total: 32.3 ms
Wall time: 30.7 ms

,AffiliationID,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude,H-Index,Productivity,Average_C10,Average_LogC10
0,20455151,Air Liquide,grid.476009.c,https://web.archive.org/web/20100205175402/htt...,GB,52.503593,-1.805160,65,1503,15.708827,1.793917
1,24386293,Hellenic National Meteorological Service,NaN,http://www.hnms.gr/hnms/english/index_html,GR,37.976140,23.736400,19,87,69.310345,2.798667
2,32956416,Catholic University of the West,grid.448708.7,http://www.uco.fr/,FR,47.464720,-0.548610,37,344,22.126050,2.270640
3,35926432,Mackay Medical College,grid.452449.a,http://www.mmc.edu.tw/,TW,25.254360,121.495087,67,2286,21.061611,2.354786
4,37448385,Chinese People's Public Security University,NaN,http://www.ppsuc.edu.cn/,CN,39.904690,116.407173,27,1875,0.792123,0.161562
...,...,...,...,...,...,...,...,...,...,...,...
26993,3130807960,Diamond Harbour Women's University,grid.449077.9,http://dhwu.ac.in/,IN,22.258074,88.195140,9,114,NaN,NaN
26994,3131031036,Mediterranean School of Business,grid.442611.4,https://www.msb.tn/,TN,36.846280,10.268974,3,11,2.000000,1.098612
26995,3132176766,Torbat Heydarieh University of Medical Sciences,grid.449612.c,http://www.thums.ac.ir,IR,35.282295,59.219544,20,205,NaN,NaN
26996,3132554608,University of the Latin American Educational C...,grid.441722.6,https://www.ucel.edu.ar/,AR,-32.955547,-60.644134,0,14,NaN,NaN
26997,3132999081,Marwadi University,grid.508494.4,https://www.marwadiuniversity.ac.in/,IN,22.367378,70.797210,19,326,NaN,NaN

In [21]:
%%time
len(df_Affiliations_Sel3[pd.notnull(df_Affiliations_Sel3['Average_C10'])])

CPU times: user 6.47 ms, sys: 2.11 ms, total: 8.58 ms
Wall time: 7.13 ms

25134

In [22]:
%%time
len(df_Affiliations_Sel3[pd.notnull(df_Affiliations_Sel3['Average_LogC10'])])

CPU times: user 4.52 ms, sys: 886 µs, total: 5.4 ms
Wall time: 4.18 ms

25134

In [23]:
df_Affiliations_Sel3.rename(columns={'H-Index':'H-index'},inplace=True)
df_Affiliations_Sel3

,AffiliationID,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude,H-index,Productivity,Average_C10,Average_LogC10
0,20455151,Air Liquide,grid.476009.c,https://web.archive.org/web/20100205175402/htt...,GB,52.503593,-1.805160,65,1503,15.708827,1.793917
1,24386293,Hellenic National Meteorological Service,NaN,http://www.hnms.gr/hnms/english/index_html,GR,37.976140,23.736400,19,87,69.310345,2.798667
2,32956416,Catholic University of the West,grid.448708.7,http://www.uco.fr/,FR,47.464720,-0.548610,37,344,22.126050,2.270640
3,35926432,Mackay Medical College,grid.452449.a,http://www.mmc.edu.tw/,TW,25.254360,121.495087,67,2286,21.061611,2.354786
4,37448385,Chinese People's Public Security University,NaN,http://www.ppsuc.edu.cn/,CN,39.904690,116.407173,27,1875,0.792123,0.161562
...,...,...,...,...,...,...,...,...,...,...,...
26993,3130807960,Diamond Harbour Women's University,grid.449077.9,http://dhwu.ac.in/,IN,22.258074,88.195140,9,114,NaN,NaN
26994,3131031036,Mediterranean School of Business,grid.442611.4,https://www.msb.tn/,TN,36.846280,10.268974,3,11,2.000000,1.098612
26995,3132176766,Torbat Heydarieh University of Medical Sciences,grid.449612.c,http://www.thums.ac.ir,IR,35.282295,59.219544,20,205,NaN,NaN
26996,3132554608,University of the Latin American Educational C...,grid.441722.6,https://www.ucel.edu.ar/,AR,-32.955547,-60.644134,0,14,NaN,NaN
26997,3132999081,Marwadi University,grid.508494.4,https://www.marwadiuniversity.ac.in/,IN,22.367378,70.797210,19,326,NaN,NaN

In [24]:
# df_Affiliations_Sel3.to_csv('../Final-SciNet-Tables/SciNet_Affiliations.tsv', sep='\t', index=False)

# Read_Test

In [1]:
import pandas as pd

In [2]:
%%time
df_Affiliations_New = pd.read_csv('../Final-SciNet-Tables/SciNet_Affiliations.tsv', sep='\t')
df_Affiliations_New

CPU times: user 96.6 ms, sys: 18.3 ms, total: 115 ms
Wall time: 113 ms

,AffiliationID,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude,H-index,Productivity,Average_C10,Average_LogC10
0,20455151,Air Liquide,grid.476009.c,https://web.archive.org/web/20100205175402/htt...,GB,52.503593,-1.805160,65,1503,15.708827,1.793917
1,24386293,Hellenic National Meteorological Service,NaN,http://www.hnms.gr/hnms/english/index_html,GR,37.976140,23.736400,19,87,69.310345,2.798667
2,32956416,Catholic University of the West,grid.448708.7,http://www.uco.fr/,FR,47.464720,-0.548610,37,344,22.126050,2.270640
3,35926432,Mackay Medical College,grid.452449.a,http://www.mmc.edu.tw/,TW,25.254360,121.495087,67,2286,21.061611,2.354786
4,37448385,Chinese People's Public Security University,NaN,http://www.ppsuc.edu.cn/,CN,39.904690,116.407173,27,1875,0.792123,0.161562
...,...,...,...,...,...,...,...,...,...,...,...
26993,3130807960,Diamond Harbour Women's University,grid.449077.9,http://dhwu.ac.in/,IN,22.258074,88.195140,9,114,NaN,NaN
26994,3131031036,Mediterranean School of Business,grid.442611.4,https://www.msb.tn/,TN,36.846280,10.268974,3,11,2.000000,1.098612
26995,3132176766,Torbat Heydarieh University of Medical Sciences,grid.449612.c,http://www.thums.ac.ir,IR,35.282295,59.219544,20,205,NaN,NaN
26996,3132554608,University of the Latin American Educational C...,grid.441722.6,https://www.ucel.edu.ar/,AR,-32.955547,-60.644134,0,14,NaN,NaN
26997,3132999081,Marwadi University,grid.508494.4,https://www.marwadiuniversity.ac.in/,IN,22.367378,70.797210,19,326,NaN,NaN

In [5]:
df_Affiliations_New[df_Affiliations_New['H-index'] > 500]

,AffiliationID,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude,H-index,Productivity,Average_C10,Average_LogC10
239,98251732,McMaster University,grid.25073.33,http://www.mcmaster.ca/,CA,43.263330,-79.918890,569,104917,45.568527,2.629109
366,79619799,University of Birmingham,grid.6572.6,http://www.birmingham.ac.uk/,GB,52.450560,-1.930560,501,121707,34.838353,2.412830
381,149899117,Max Planck Society,grid.4372.2,http://www.mpg.de/,DE,48.141170,11.581836,935,371494,52.365017,2.790444
896,31746571,University of New South Wales,grid.1005.4,http://www.unsw.edu.au/,AU,-33.883940,151.220322,513,154180,35.968917,2.470633
928,157725225,University of Illinois at Urbana–Champaign,grid.35403.31,http://www.illinois.edu/,US,40.110540,-88.228410,735,222828,43.499923,2.552681
...,...,...,...,...,...,...,...,...,...,...,...
26496,204250578,"University of California, Irvine",grid.266093.8,http://www.uci.edu/,US,33.645350,-117.842644,599,114084,52.398739,2.808870
26693,32389192,University of Alabama at Birmingham,grid.265892.2,http://www.uab.edu/,US,33.500000,-86.807500,519,94285,49.383422,2.844342
26823,165143802,University of Queensland,grid.1003.2,http://www.uq.edu.au/,AU,-27.497780,153.012787,574,155707,41.560004,2.647441
26846,1299303238,National Institutes of Health,grid.94365.3d,http://www.nih.gov/,US,39.000442,-77.102394,1103,309782,76.711956,3.258619
26917,150468666,Emory University,grid.189967.8,http://www.emory.edu/,US,33.791110,-84.323330,658,131066,56.854529,2.865456

In [6]:
df_Affiliations_New[df_Affiliations_New['H-index'] == 0]

,AffiliationID,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude,H-index,Productivity,Average_C10,Average_LogC10
78,2801045957,SSAB (Sweden),grid.426457.6,NaN,SE,59.331265,18.056450,0,1,0.0,0.0
100,3129502783,Russian State University of Cinematography nam...,grid.445005.0,NaN,RU,55.835000,37.637500,0,6,NaN,NaN
106,3194301210,Santa Ynez Valley Cottage Hospital,grid.461458.a,NaN,US,34.602130,-120.126266,0,1,NaN,NaN
159,253757931,Sunrise Communications AG,grid.467040.1,https://www.sunrise.ch/,CH,47.413180,8.536610,0,8,0.0,0.0
277,875293437,RIU Hotels,NaN,http://www.riu.com/,ES,39.519110,2.743450,0,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
26976,2802097991,Killeen Independent School District,grid.472531.6,NaN,US,31.116577,-97.727936,0,1,0.0,0.0
26988,2913133470,High Museum of Art,grid.446795.d,NaN,US,33.789240,-84.385140,0,2,NaN,NaN
26989,3014087699,Osaka Chiyoda Junior College,grid.468999.3,NaN,JP,34.445560,135.548889,0,2,NaN,NaN
26990,3017153554,Chapter Arts Centre,grid.433034.3,NaN,GB,51.483090,-3.203580,0,2,0.0,0.0
26996,3132554608,University of the Latin American Educational C...,grid.441722.6,https://www.ucel.edu.ar/,AR,-32.955547,-60.644134,0,14,NaN,NaN

In [14]:
print(len(df_Affiliations_New[df_Affiliations_New['H-index'] > 700]))
df_Affiliations_New[df_Affiliations_New['H-index'] > 700]

39

,AffiliationID,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude,H-index,Productivity,Average_C10,Average_LogC10
381,149899117,Max Planck Society,grid.4372.2,http://www.mpg.de/,DE,48.141170,11.581836,935,371494,52.365017,2.790444
928,157725225,University of Illinois at Urbana–Champaign,grid.35403.31,http://www.illinois.edu/,US,40.110540,-88.228410,735,222828,43.499923,2.552681
2843,135310074,University of Wisconsin-Madison,grid.14003.36,http://www.wisc.edu/,US,43.075000,-89.417220,796,244133,49.649984,2.738878
4649,63966007,Massachusetts Institute of Technology,grid.116068.8,http://web.mit.edu/,US,42.359820,-71.092110,1101,234356,73.067229,2.849203
4806,1330342723,Mayo Clinic,grid.66875.3a,http://www.mayoclinic.org/,US,44.022220,-92.466670,735,185465,57.688026,2.866982
5802,27837315,University of Michigan,grid.214458.e,http://www.umich.edu/,US,42.282780,-83.734720,980,346702,55.247143,2.750582
6284,205783295,Cornell University,grid.5386.8,http://www.cornell.edu/,US,42.453450,-76.473500,851,236804,53.857725,2.764690
6779,36258959,"University of California, San Diego",grid.266100.3,http://www.ucsd.edu/,US,32.881000,-117.238000,887,207681,68.673762,3.031655
6814,170897317,Duke University,grid.26009.3d,http://www.duke.edu/,US,36.001110,-78.938890,803,206870,60.064559,2.880448
8086,32971472,Yale University,grid.47100.32,http://www.yale.edu/,US,41.311110,-72.926670,886,224717,62.900793,2.882201
8293,78577930,Columbia University,grid.21729.3f,http://www.columbia.edu/,US,40.807500,-73.961940,880,225321,58.907416,2.781923
9637,1283280774,Brigham and Women's Hospital,grid.62560.37,http://www.brighamandwomens.org/,US,42.326100,-71.149300,743,118029,83.285097,3.226126
9714,122411786,California Institute of Technology,grid.20861.3d,http://www.caltech.edu/,US,34.138576,-118.125496,761,126388,62.590078,2.892317
9909,241749,University of Cambridge,grid.5335.0,http://www.cam.ac.uk/,GB,52.205280,0.117220,916,290353,51.688576,2.634049
10722,114027177,University of North Carolina at Chapel Hill,grid.10698.36,http://www.unc.edu/,US,35.908330,-79.049170,785,192493,58.062494,2.855749
12008,201448701,University of Washington,grid.34477.33,http://www.washington.edu/,US,47.655000,-122.308000,993,311173,61.851259,2.904928
12313,180670191,"University of California, San Francisco",grid.266102.1,http://www.ucsf.edu/,US,37.763320,-122.458542,896,198939,73.507739,3.162078
12970,185261750,University of Toronto,grid.17063.33,http://www.utoronto.ca/,CA,43.661670,-79.395000,852,302264,48.776091,2.712078
14980,136199984,Harvard University,grid.38142.3c,http://www.harvard.edu/,US,42.374440,-71.116940,1438,536585,80.792684,3.081852
15421,79576946,University of Pennsylvania,grid.25879.31,http://www.upenn.edu/,US,39.950000,-75.190000,927,261358,58.277103,2.810987
15925,57206974,New York University,grid.137628.9,http://www.nyu.edu/,US,40.730000,-73.995000,761,167209,52.167988,2.629421
16631,161318765,"University of California, Los Angeles",grid.19006.3e,http://www.ucla.edu/,US,34.072224,-118.444100,947,287999,58.033948,2.859290
16929,141945490,University of British Columbia,grid.17091.3e,https://ubc.ca/,CA,49.261110,-123.253059,723,215866,47.371429,2.664792
17165,1344073410,Howard Hughes Medical Institute,grid.413575.1,http://www.hhmi.org/,US,38.998610,-77.079720,791,34709,170.486583,4.158375
17206,45129253,University College London,grid.83440.3b,http://www.ucl.ac.uk/,GB,51.524788,-0.133578,757,214248,52.904574,2.756686
17422,47508984,Imperial College London,grid.7445.2,http://www.imperial.ac.uk/,GB,51.498306,-0.176882,729,211256,46.419731,2.649409
17874,111979921,Northwestern University,grid.16753.36,http://www.northwestern.edu/,US,42.054850,-87.673940,772,194049,52.102920,2.650485
17965,40347166,University of Chicago,grid.170205.1,http://www.uchicago.edu/,US,41.789720,-87.599720,820,160038,58.814785,2.694849
18423,130238516,University of Minnesota,grid.17635.36,http://www.umn.edu/,US,44.975280,-93.234170,795,263428,47.997646,2.716346
19111,204465549,Washington University in St. Louis,grid.4367.6,http://www.wustl.edu/,US,38.648000,-90.305000,836,172260,66.449307,2.917870
19204,95457486,"University of California, Berkeley",grid.47840.3f,http://www.berkeley.edu/,US,37.870000,-122.259000,1008,255903,60.693645,2.764950
20168,170201317,University of Pittsburgh,grid.21925.3d,http://www.pitt.edu/,US,40.444565,-79.953280,735,209565,51.477665,2.788119
20240,20089843,Princeton University,grid.16750.35,http://www.princeton.edu/,US,40.348730,-74.659310,817,129627,64.159840,2.728797
20999,1294671590,Centre national de la recherche scientifique,grid.4444.0,http://www.cnrs.fr/,FR,48.847664,2.264034,716,362877,37.640538,2.636911
22257,145311948,Johns Hopkins University,grid.21107.35,http://www.jhu.edu/,US,39.328890,-76.620280,940,257394,62.643527,2.902472
23853,97018004,Stanford University,grid.168010.e,http://www.stanford.edu/,US,37.428230,-122.168861,1189,313837,73.683649,2.903629
24627,86519309,University of Texas at Austin,grid.89336.37,https://www.utexas.edu/,US,30.286140,-97.739420,720,207257,45.193408,2.589949
24941,40120149,University of Oxford,grid.4991.5,http://www.ox.ac.uk/,GB,51.761100,-1.253400,873,264853,53.190890,2.596948
26846,1299303238,National Institutes of Health,grid.94365.3d,http://www.nih.gov/,US,39.000442,-77.102394,1103,309782,76.711956,3.258619

In [11]:
df_Affiliations_New[df_Affiliations_New['Affiliation_Name'] == 'Northwestern University']

,AffiliationID,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude,H-index,Productivity,Average_C10,Average_LogC10
17874,111979921,Northwestern University,grid.16753.36,http://www.northwestern.edu/,US,42.05485,-87.67394,772,194049,52.10292,2.650485

In [38]:
df_Affiliations_New_Sorted = df_Affiliations_New.sort_values(by='H-index',ascending=False).reset_index(drop=True)
df_Affiliations_New_Sorted

,AffiliationID,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude,H-index,Productivity,Average_C10,Average_LogC10
0,136199984,Harvard University,grid.38142.3c,http://www.harvard.edu/,US,42.374440,-71.116940,1438,536585,80.792684,3.081852
1,97018004,Stanford University,grid.168010.e,http://www.stanford.edu/,US,37.428230,-122.168861,1189,313837,73.683649,2.903629
2,1299303238,National Institutes of Health,grid.94365.3d,http://www.nih.gov/,US,39.000442,-77.102394,1103,309782,76.711956,3.258619
3,63966007,Massachusetts Institute of Technology,grid.116068.8,http://web.mit.edu/,US,42.359820,-71.092110,1101,234356,73.067229,2.849203
4,95457486,"University of California, Berkeley",grid.47840.3f,http://www.berkeley.edu/,US,37.870000,-122.259000,1008,255903,60.693645,2.764950
...,...,...,...,...,...,...,...,...,...,...,...
26993,2801668103,Reformed Episcopal Seminary,grid.465708.8,NaN,US,40.168690,-75.290160,0,3,NaN,NaN
26994,2802552484,Tribeca Film Institute,grid.447466.3,NaN,US,40.720910,-74.005230,0,1,NaN,NaN
26995,21984843,Naval Historical Foundation,NaN,http://www.navyhistory.org/,NaN,NaN,NaN,0,6,0.000000,0.000000
26996,3200473060,Network of European Foundations,grid.490889.4,NaN,BE,50.848824,4.362651,0,1,NaN,NaN
26997,2956445460,Fondation Le Corbusier,grid.469448.3,NaN,FR,48.851910,2.265248,0,6,NaN,NaN

In [39]:
df_Affiliations_New_Sorted.head(20)

,AffiliationID,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude,H-index,Productivity,Average_C10,Average_LogC10
0,136199984,Harvard University,grid.38142.3c,http://www.harvard.edu/,US,42.374440,-71.116940,1438,536585,80.792684,3.081852
1,97018004,Stanford University,grid.168010.e,http://www.stanford.edu/,US,37.428230,-122.168861,1189,313837,73.683649,2.903629
2,1299303238,National Institutes of Health,grid.94365.3d,http://www.nih.gov/,US,39.000442,-77.102394,1103,309782,76.711956,3.258619
3,63966007,Massachusetts Institute of Technology,grid.116068.8,http://web.mit.edu/,US,42.359820,-71.092110,1101,234356,73.067229,2.849203
4,95457486,"University of California, Berkeley",grid.47840.3f,http://www.berkeley.edu/,US,37.870000,-122.259000,1008,255903,60.693645,2.764950
5,201448701,University of Washington,grid.34477.33,http://www.washington.edu/,US,47.655000,-122.308000,993,311173,61.851259,2.904928
6,27837315,University of Michigan,grid.214458.e,http://www.umich.edu/,US,42.282780,-83.734720,980,346702,55.247143,2.750582
7,161318765,"University of California, Los Angeles",grid.19006.3e,http://www.ucla.edu/,US,34.072224,-118.444100,947,287999,58.033948,2.859290
8,145311948,Johns Hopkins University,grid.21107.35,http://www.jhu.edu/,US,39.328890,-76.620280,940,257394,62.643527,2.902472
9,149899117,Max Planck Society,grid.4372.2,http://www.mpg.de/,DE,48.141170,11.581836,935,371494,52.365017,2.790444
10,79576946,University of Pennsylvania,grid.25879.31,http://www.upenn.edu/,US,39.950000,-75.190000,927,261358,58.277103,2.810987
11,241749,University of Cambridge,grid.5335.0,http://www.cam.ac.uk/,GB,52.205280,0.117220,916,290353,51.688576,2.634049
12,180670191,"University of California, San Francisco",grid.266102.1,http://www.ucsf.edu/,US,37.763320,-122.458542,896,198939,73.507739,3.162078
13,36258959,"University of California, San Diego",grid.266100.3,http://www.ucsd.edu/,US,32.881000,-117.238000,887,207681,68.673762,3.031655
14,32971472,Yale University,grid.47100.32,http://www.yale.edu/,US,41.311110,-72.926670,886,224717,62.900793,2.882201
15,78577930,Columbia University,grid.21729.3f,http://www.columbia.edu/,US,40.807500,-73.961940,880,225321,58.907416,2.781923
16,40120149,University of Oxford,grid.4991.5,http://www.ox.ac.uk/,GB,51.761100,-1.253400,873,264853,53.190890,2.596948
17,185261750,University of Toronto,grid.17063.33,http://www.utoronto.ca/,CA,43.661670,-79.395000,852,302264,48.776091,2.712078
18,205783295,Cornell University,grid.5386.8,http://www.cornell.edu/,US,42.453450,-76.473500,851,236804,53.857725,2.764690
19,204465549,Washington University in St. Louis,grid.4367.6,http://www.wustl.edu/,US,38.648000,-90.305000,836,172260,66.449307,2.917870

In [40]:
df_Affiliations_New_20 = df_Affiliations_New_Sorted.head(40)
df_Affiliations_New_20.iloc[19:,:]

,AffiliationID,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude,H-index,Productivity,Average_C10,Average_LogC10
19,204465549,Washington University in St. Louis,grid.4367.6,http://www.wustl.edu/,US,38.648000,-90.305000,836,172260,66.449307,2.917870
20,40347166,University of Chicago,grid.170205.1,http://www.uchicago.edu/,US,41.789720,-87.599720,820,160038,58.814785,2.694849
21,20089843,Princeton University,grid.16750.35,http://www.princeton.edu/,US,40.348730,-74.659310,817,129627,64.159840,2.728797
22,170897317,Duke University,grid.26009.3d,http://www.duke.edu/,US,36.001110,-78.938890,803,206870,60.064559,2.880448
23,135310074,University of Wisconsin-Madison,grid.14003.36,http://www.wisc.edu/,US,43.075000,-89.417220,796,244133,49.649984,2.738878
24,130238516,University of Minnesota,grid.17635.36,http://www.umn.edu/,US,44.975280,-93.234170,795,263428,47.997646,2.716346
25,1344073410,Howard Hughes Medical Institute,grid.413575.1,http://www.hhmi.org/,US,38.998610,-77.079720,791,34709,170.486583,4.158375
26,114027177,University of North Carolina at Chapel Hill,grid.10698.36,http://www.unc.edu/,US,35.908330,-79.049170,785,192493,58.062494,2.855749
27,111979921,Northwestern University,grid.16753.36,http://www.northwestern.edu/,US,42.054850,-87.673940,772,194049,52.102920,2.650485
28,57206974,New York University,grid.137628.9,http://www.nyu.edu/,US,40.730000,-73.995000,761,167209,52.167988,2.629421
29,122411786,California Institute of Technology,grid.20861.3d,http://www.caltech.edu/,US,34.138576,-118.125496,761,126388,62.590078,2.892317
30,45129253,University College London,grid.83440.3b,http://www.ucl.ac.uk/,GB,51.524788,-0.133578,757,214248,52.904574,2.756686
31,1283280774,Brigham and Women's Hospital,grid.62560.37,http://www.brighamandwomens.org/,US,42.326100,-71.149300,743,118029,83.285097,3.226126
32,170201317,University of Pittsburgh,grid.21925.3d,http://www.pitt.edu/,US,40.444565,-79.953280,735,209565,51.477665,2.788119
33,1330342723,Mayo Clinic,grid.66875.3a,http://www.mayoclinic.org/,US,44.022220,-92.466670,735,185465,57.688026,2.866982
34,157725225,University of Illinois at Urbana–Champaign,grid.35403.31,http://www.illinois.edu/,US,40.110540,-88.228410,735,222828,43.499923,2.552681
35,47508984,Imperial College London,grid.7445.2,http://www.imperial.ac.uk/,GB,51.498306,-0.176882,729,211256,46.419731,2.649409
36,141945490,University of British Columbia,grid.17091.3e,https://ubc.ca/,CA,49.261110,-123.253059,723,215866,47.371429,2.664792
37,86519309,University of Texas at Austin,grid.89336.37,https://www.utexas.edu/,US,30.286140,-97.739420,720,207257,45.193408,2.589949
38,1294671590,Centre national de la recherche scientifique,grid.4444.0,http://www.cnrs.fr/,FR,48.847664,2.264034,716,362877,37.640538,2.636911
39,1174212,University of Southern California,grid.42505.36,http://www.usc.edu/,US,34.020510,-118.285629,689,172203,47.214181,2.665423

In [41]:
df_Affiliations_New_20 = df_Affiliations_New_Sorted.head(60)
df_Affiliations_New_20.iloc[39:,:]

,AffiliationID,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude,H-index,Productivity,Average_C10,Average_LogC10
39,1174212,University of Southern California,grid.42505.36,http://www.usc.edu/,US,34.020510,-118.285629,689,172203,47.214181,2.665423
40,74973139,Carnegie Mellon University,grid.147455.6,http://www.cmu.edu/,US,40.443320,-79.943580,676,94585,61.065672,2.717941
41,1334819555,Memorial Sloan Kettering Cancer Center,grid.51462.34,http://www.mskcc.org/,US,40.764095,-73.956840,673,71826,81.266962,3.177389
42,154526488,French Institute of Health and Medical Research,grid.7429.8,http://www.inserm.fr/,FR,48.826523,2.365553,671,186002,50.432298,2.891068
43,74801974,University of Tokyo,grid.26999.3d,http://www.u-tokyo.ac.jp/,JP,35.713330,139.762222,669,344878,30.097115,2.287102
44,111088046,Boston University,grid.189504.1,http://www.bu.edu/,US,42.349600,-71.099700,665,122213,56.544492,2.766060
45,130769515,Pennsylvania State University,grid.29857.31,http://www.psu.edu/,US,40.796110,-77.862780,661,196565,44.249026,2.563537
46,19820366,Chinese Academy of Sciences,grid.9227.e,http://english.cas.cn/,US,39.681560,-75.751885,661,656516,25.084342,2.045389
47,150468666,Emory University,grid.189967.8,http://www.emory.edu/,US,33.791110,-84.323330,658,131066,56.854529,2.865456
48,52357470,Ohio State University,grid.261331.4,http://www.osu.edu/,US,40.000000,-83.014500,653,208476,39.953868,2.501432
49,66946132,"University of Maryland, College Park",NaN,http://www.umd.edu/,US,38.988060,-76.944720,653,151380,45.267944,2.536295
50,98677209,University of Edinburgh,grid.4305.2,http://www.ed.ac.uk/,GB,55.947388,-3.187194,652,152567,44.899761,2.529690
51,5023651,McGill University,grid.14709.3b,http://mcgill.ca/,CA,45.504170,-73.574720,650,166945,45.911308,2.683434
52,138006243,University of Arizona,grid.134563.6,http://www.arizona.edu/,US,32.231670,-110.951942,646,156275,45.646687,2.607301
53,84218800,"University of California, Davis",grid.27860.3b,http://ucdavis.edu/,US,38.540000,-121.750000,642,183358,46.644701,2.838283
54,102322142,Rutgers University,grid.430387.b,http://www.rutgers.edu/,US,40.501670,-74.448060,642,162683,43.960901,2.568733
55,5388228,University of Rochester,grid.16416.34,http://www.rochester.edu/,US,43.128334,-77.628334,636,111709,48.087834,2.605698
56,200719446,Vanderbilt University,grid.152326.1,http://www.vanderbilt.edu/,US,36.148647,-86.804970,624,110318,54.118226,2.769877
57,28166907,Karolinska Institutet,grid.4714.6,http://www.ki.se/,SE,59.348890,18.026670,622,126436,53.674783,3.088402
58,181547552,Baylor College of Medicine,grid.39382.33,http://www.bcm.edu/,US,29.710500,-95.396500,622,102030,60.177857,2.978320
59,2799853436,Johns Hopkins University School of Medicine,grid.471401.7,NaN,US,39.298890,-76.594170,619,83153,77.000640,3.280146

In [42]:
df_Affiliations_New_20 = df_Affiliations_New_Sorted.head(80)
df_Affiliations_New_20.iloc[59:,:]

,AffiliationID,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude,H-index,Productivity,Average_C10,Average_LogC10
59,2799853436,Johns Hopkins University School of Medicine,grid.471401.7,NaN,US,39.298890,-76.594170,619,83153,77.000640,3.280146
60,867280407,University of Texas Southwestern Medical Center,grid.267313.2,http://www.utsouthwestern.edu/,US,32.812607,-96.838410,616,81070,72.205948,3.176522
61,1343551460,University of Texas MD Anderson Cancer Center,grid.240145.6,http://www.mdanderson.org/,US,29.707998,-95.397520,614,106296,58.782577,2.868186
62,592451,Indiana University,grid.257410.5,http://www.iu.edu/,US,39.167000,-86.521385,607,152360,43.106080,2.496294
63,1341412227,IBM,grid.410484.d,https://www.ibm.com/us-en/,US,41.108060,-73.720000,599,98825,41.426530,2.256773
64,204250578,"University of California, Irvine",grid.266093.8,http://www.uci.edu/,US,33.645350,-117.842644,599,114084,52.398739,2.808870
65,58956616,Case Western Reserve University,grid.67105.35,http://www.case.edu/,US,41.504160,-81.608450,598,109341,48.179726,2.712137
66,99464096,Katholieke Universiteit Leuven,grid.5596.f,http://www.kuleuven.be/english/,BE,50.878000,4.700000,594,172654,40.367932,2.560613
67,154570441,"University of California, Santa Barbara",grid.133342.4,http://www.ucsb.edu/,US,34.412540,-119.848129,593,78467,58.416604,2.811640
68,33213144,University of Florida,grid.15276.37,http://www.ufl.edu/,US,29.648330,-82.349440,593,204127,37.363483,2.563202
69,165779595,University of Melbourne,grid.1008.9,http://unimelb.edu.au/,AU,-37.796300,144.961400,592,176501,40.059700,2.611681
70,193662353,Utrecht University,grid.5477.1,http://www.uu.nl/,NL,52.093990,5.123410,590,141187,50.235555,2.930670
71,188538660,University of Colorado Boulder,grid.266190.a,http://www.colorado.edu/,US,40.006670,-105.267220,590,113958,49.203204,2.660955
72,148283060,Lawrence Berkeley National Laboratory,grid.184769.5,http://www.lbl.gov/,US,37.876000,-122.247000,589,63334,66.300973,2.860015
73,124055696,University of Copenhagen,grid.5254.6,http://www.ku.dk/english,DK,55.679720,12.572500,585,149152,44.537817,2.782086
74,1289490764,Centers for Disease Control and Prevention,grid.416738.f,http://www.cdc.gov/,US,33.798817,-84.325600,584,101394,57.086928,2.646939
75,887064364,University of Amsterdam,grid.7177.6,http://www.uva.nl/home,NL,52.368330,4.890280,580,139222,44.159798,2.734039
76,27804330,Brown University,grid.40263.33,http://www.brown.edu/,US,41.826200,-71.403200,580,93956,53.027708,2.697536
77,22299242,Kyoto University,grid.258799.8,http://www.kyoto-u.ac.jp/en,JP,35.026210,135.780838,579,222363,31.055178,2.335578
78,223532165,University of Utah,grid.223827.e,http://www.utah.edu/,US,40.765000,-111.850000,579,127439,47.877484,2.732260
79,1288882113,Boston Children's Hospital,grid.2515.3,http://www.childrenshospital.org/,US,42.337270,-71.106000,577,241170,37.345335,2.523188

In [43]:
df_Affiliations_New_20 = df_Affiliations_New_Sorted.head(100)
df_Affiliations_New_20.iloc[79:,:]

,AffiliationID,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude,H-index,Productivity,Average_C10,Average_LogC10
79,1288882113,Boston Children's Hospital,grid.2515.3,http://www.childrenshospital.org/,US,42.337270,-71.106000,577,241170,37.345335,2.523188
80,28407311,University of Manchester,grid.5379.8,http://www.manchester.ac.uk/,GB,53.465560,-2.233610,576,173773,36.498307,2.410126
81,51556381,University of Virginia,grid.27755.32,http://www.virginia.edu/,US,38.035000,-78.505000,574,116829,45.810604,2.603011
82,165143802,University of Queensland,grid.1003.2,http://www.uq.edu.au/,AU,-27.497780,153.012787,574,155707,41.560004,2.647441
83,8204097,Ludwig Maximilian University of Munich,grid.5252.0,https://www.en.uni-muenchen.de/index.html,DE,48.150830,11.580280,572,168642,34.057619,2.368865
84,83399316,Rockefeller University,grid.134907.8,http://www.rockefeller.edu/,US,40.762500,-73.955560,571,33009,84.669962,3.291838
85,87216513,Michigan State University,grid.17088.36,http://www.msu.edu/,US,42.723000,-84.481000,570,138129,42.288957,2.586534
86,98251732,McMaster University,grid.25073.33,http://www.mcmaster.ca/,CA,43.263330,-79.918890,569,104917,45.568527,2.629109
87,202697423,University of Zurich,grid.7400.3,http://www.uzh.ch/index_en.html,CH,47.374720,8.548330,568,125798,49.269847,2.817486
88,913958620,Erasmus University Rotterdam,grid.6906.9,http://www.eur.nl/english,NL,51.918060,4.525830,565,93653,55.407293,2.910903
89,130701444,Georgia Institute of Technology,grid.213917.f,http://www.gatech.edu/,US,33.775635,-84.396250,563,115986,41.385797,2.467581
90,126307644,University of Iowa,grid.214572.7,http://www.uiowa.edu/,US,41.650000,-91.533000,561,116418,43.042585,2.580650
91,134820265,Spanish National Research Council,grid.4711.3,http://www.csic.es/,ES,40.595882,-3.688175,560,214533,40.166086,2.821601
92,5124864,École Polytechnique Fédérale de Lausanne,grid.5333.6,https://www.epfl.ch/,CH,46.520280,6.565560,559,92172,50.186031,2.760970
93,98704320,Icahn School of Medicine at Mount Sinai,grid.59734.3c,http://icahn.mssm.edu/,US,40.789474,-73.953780,555,82477,59.840961,2.950131
94,183935753,King's College London,grid.13097.3c,http://www.kcl.ac.uk/,GB,51.511944,-0.116111,551,120715,44.116572,2.478830
95,2799886695,Veterans Health Administration,grid.239186.7,NaN,US,38.900830,-77.034720,550,103534,57.433157,3.075603
96,36234482,University of Bristol,grid.5337.2,http://www.bristol.ac.uk/,GB,51.456390,-2.604440,549,114523,45.821076,2.675642
97,129604602,University of Sydney,grid.1013.3,http://sydney.edu.au/,AU,-33.887780,151.187225,547,190874,36.209988,2.522414
98,91045830,Texas A&M University,grid.264756.4,http://www.tamu.edu/,US,30.610369,-96.344055,546,164250,37.647058,2.522836
99,123431417,Scripps Research Institute,grid.214007.0,http://www.scripps.edu/,US,38.647106,-90.316124,546,31794,100.042072,3.599010

In [44]:
CHN_Univ_Sample = [
                  'Peking University', 'Tsinghua University', 
                  'Fudan University', 'Shanghai Jiao Tong University',
                  'University of Science and Technology of China', 'Zhejiang University'
                 ]

In [45]:
df_Affiliations_New_Sorted[df_Affiliations_New_Sorted['Affiliation_Name'].isin(CHN_Univ_Sample)]

,AffiliationID,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude,H-index,Productivity,Average_C10,Average_LogC10
136,99065089,Tsinghua University,grid.12527.33,http://www.tsinghua.edu.cn/,CN,40.000000,116.326668,487,211315,17.691662,1.584739
172,20231570,Peking University,grid.11135.37,http://www.pku.edu.cn/,CN,39.989720,116.305283,448,206149,18.692547,1.581034
296,183067930,Shanghai Jiao Tong University,grid.16821.3c,http://www.sjtu.edu.cn/,CN,31.200830,121.429718,375,214455,14.843341,1.418540
297,24943067,Fudan University,grid.8547.e,http://www.fudan.edu.cn/,CN,31.298890,121.499168,375,138170,18.603025,1.582817
300,76130692,Zhejiang University,grid.13402.34,http://www.zju.edu.cn/,CN,30.263610,120.120827,372,202473,15.822343,1.573969
316,126520041,University of Science and Technology of China,grid.59053.3a,http://en.ustc.edu.cn/,CN,31.821972,117.280586,361,103110,22.821788,1.983610

In [47]:
df_Affiliations_New[df_Affiliations_New['Affiliation_Name'].str.contains('Brigham')]

,AffiliationID,Affiliation_Name,GridID,Official_Page,ISO3166Code,Latitude,Longitude,H-index,Productivity,Average_C10,Average_LogC10
5018,2800492654,Brigham and Women's Faulkner Hospital,grid.415122.1,NaN,US,42.300804,-71.128150,28,215,61.400000,2.734614
9637,1283280774,Brigham and Women's Hospital,grid.62560.37,http://www.brighamandwomens.org/,US,42.326100,-71.149300,743,118029,83.285097,3.226126
13855,43943889,Brigham Young University–Idaho,grid.437322.3,http://www.byui.edu/,US,43.823060,-111.785278,27,367,26.043956,2.044049
14300,100005738,Brigham Young University,grid.253294.b,http://www.byu.edu/,US,40.249720,-111.649170,303,36163,31.984036,2.164816
16921,110092051,Brigham Young University–Hawaii,grid.462119.9,http://www.byuh.edu/,US,21.641390,-157.925278,35,274,24.277108,1.878522