In [1]:
date_str = "2021-12-06"

In [2]:
%%time
import csv
import pandas as pd

df_MAG = pd.read_csv('../../MAG_'+date_str+'/mag/Papers.txt', sep='\t', header=None, quoting=csv.QUOTE_NONE, 
                      usecols=[0,2,3,7,8,11,12,13,18,19,22,24])
# https://docs.microsoft.com/en-us/academic-services/graph/reference-data-schema#papers
# Read MAG data.
# 0:MAG_PaperId; 2:DOI; 3:DocType; 7:Year; 8:Date; 11:JournalId; 12:ConferenceSeriesId; 13:ConferenceInstanceId;
# 18:ReferenceCount; 19:CitationCount; 20:EstimatedCitation; 22:FamilyId; 24:DocSubTypes.

df_MAG

/home/zla6184/.conda/envs/newcv/lib/python3.9/site-packages/IPython/core/magics/execution.py:1321: DtypeWarning: Columns (24) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code, glob, local_ns)

CPU times: user 13min 53s, sys: 1min 24s, total: 15min 17s
Wall time: 15min 21s

,0,2,3,7,8,11,12,13,18,19,22,24
0,248996,NaN,Patent,1972.0,1972-06-05,NaN,NaN,NaN,0,4,NaN,NaN
1,2906390199,NaN,NaN,2004.0,2004-01-01,NaN,NaN,NaN,0,0,760496.0,NaN
2,760496,NaN,NaN,2004.0,2004-01-01,NaN,NaN,NaN,0,2,760496.0,NaN
3,1727602,NaN,Patent,1989.0,1989-12-14,NaN,NaN,NaN,0,0,1727602.0,NaN
4,2401921836,NaN,Patent,1989.0,1989-06-05,NaN,NaN,NaN,3,7,1727602.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
270694045,3216456912,NaN,NaN,2019.0,2019-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270694046,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,NaN,35,0,NaN,NaN
270694047,3217083104,NaN,NaN,2007.0,2007-01-01,NaN,NaN,NaN,0,0,NaN,NaN
270694048,3217401253,NaN,NaN,2021.0,2021-11-22,NaN,NaN,NaN,24,0,NaN,NaN
270694049,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,3.117406e+09,0,0,NaN,NaN

In [3]:
%%time
SciNet_Papers = pd.read_csv('../Final-SciNet-Tables/SciNet_Papers-Temp0.tsv', sep='\t')
SciNet_Papers

CPU times: user 2min 16s, sys: 18.9 s, total: 2min 35s
Wall time: 2min 36s

,PaperID,DOI,DocType,Year,Date,JournalID,ConferenceSeriesID,Citation_Count,C10,Reference_Count,C5
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,1.0,1.0,13.0,1.0
1,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,0.0,0.0,37.0,0.0
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,0.0,0.0,0.0,0.0
3,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,0.0,0.0,0.0,0.0
4,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,14.0,NaN,11.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...
134129183,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,0.0,NaN,14.0,NaN
134129184,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,0.0,NaN,33.0,NaN
134129185,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,0.0,NaN,0.0,NaN
134129186,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,0.0,NaN,33.0,NaN
134129187,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,0.0,NaN,0.0,NaN

In [4]:
%%time
df_MAG_Sel = df_MAG.loc[df_MAG[0].isin(SciNet_Papers['PaperID']), :]
df_MAG_Sel

CPU times: user 55 s, sys: 7.63 s, total: 1min 2s
Wall time: 1min 2s

,0,2,3,7,8,11,12,13,18,19,22,24
5,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,NaN,0,0,2789336.0,NaN
26,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,NaN,37,1,9552966.0,NaN
29,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,NaN,0,0,9694411.0,NaN
35,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,NaN,0,0,14355006.0,NaN
37,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,4.038532e+06,11,16,14558443.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
270694042,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,NaN,15,0,NaN,NaN
270694043,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,NaN,33,0,NaN,NaN
270694044,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,NaN,0,0,NaN,NaN
270694046,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,NaN,35,0,NaN,NaN
270694049,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,3.117406e+09,0,0,NaN,NaN

In [6]:
import scipy.stats

In [7]:
%%time
test_A_0 = df_MAG_Sel[18].values
test_A_1 = df_MAG_Sel[19].values
test_A_0

CPU times: user 403 µs, sys: 44 µs, total: 447 µs
Wall time: 458 µs

array([ 0, 37,  0, ...,  0, 35,  0])

In [9]:
%%time
test_A_P = scipy.stats.pearsonr(test_A_0, test_A_1)
test_A_P

CPU times: user 13.9 s, sys: 935 ms, total: 14.8 s
Wall time: 3.96 s

(0.1146375954631367, 0.0)

In [10]:
%%time
SciNet_Papers_Merge = SciNet_Papers.merge(df_MAG_Sel[[0,18,19]], how='left',left_on='PaperID',right_on=0)
SciNet_Papers_Merge

CPU times: user 2min 6s, sys: 47.2 s, total: 2min 53s
Wall time: 2min 54s

,PaperID,DOI,DocType,Year,Date,JournalID,ConferenceSeriesID,Citation_Count,C10,Reference_Count,C5,0,18,19
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,1.0,1.0,13.0,1.0,2789336,0,0
1,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,0.0,0.0,37.0,0.0,9552966,37,1
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,0.0,0.0,0.0,0.0,9694411,0,0
3,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,0.0,0.0,0.0,0.0,14355006,0,0
4,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,14.0,NaN,11.0,9.0,14558443,11,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134129183,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,0.0,NaN,14.0,NaN,3215499129,15,0
134129184,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,0.0,NaN,33.0,NaN,3215845741,33,0
134129185,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,0.0,NaN,0.0,NaN,3216186450,0,0
134129186,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,0.0,NaN,33.0,NaN,3216762448,35,0
134129187,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,0.0,NaN,0.0,NaN,3217727977,0,0

In [11]:
%%time
SciNet_Papers_Merge = SciNet_Papers_Merge.drop(columns=[0])
SciNet_Papers_Merge

CPU times: user 26.5 s, sys: 35.1 s, total: 1min 1s
Wall time: 1min 1s

,PaperID,DOI,DocType,Year,Date,JournalID,ConferenceSeriesID,Citation_Count,C10,Reference_Count,C5,18,19
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,1.0,1.0,13.0,1.0,0,0
1,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,0.0,0.0,37.0,0.0,37,1
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,0.0,0.0,0.0,0.0,0,0
3,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,0.0,0.0,0.0,0.0,0,0
4,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,14.0,NaN,11.0,9.0,11,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
134129183,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,0.0,NaN,14.0,NaN,15,0
134129184,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,0.0,NaN,33.0,NaN,33,0
134129185,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,0.0,NaN,0.0,NaN,0,0
134129186,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,0.0,NaN,33.0,NaN,35,0
134129187,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,0.0,NaN,0.0,NaN,0,0

In [12]:
%%time
SciNet_C = SciNet_Papers_Merge['Citation_Count'].values
MAGNet_C = SciNet_Papers_Merge[19].values

CPU times: user 505 µs, sys: 0 ns, total: 505 µs
Wall time: 519 µs

In [13]:
%%time
C_Pearson = scipy.stats.pearsonr(SciNet_C, MAGNet_C)
C_Pearson

CPU times: user 16.1 s, sys: 2.26 s, total: 18.3 s
Wall time: 4.97 s

(0.9858998378767304, 0.0)

In [14]:
%%time
C_Spearman = scipy.stats.spearmanr(SciNet_C, MAGNet_C)
C_Spearman

CPU times: user 1min 4s, sys: 18.9 s, total: 1min 23s
Wall time: 1min 19s

SpearmanrResult(correlation=0.9914638828190664, pvalue=0.0)

In [15]:
%%time
SciNet_R = SciNet_Papers_Merge['Reference_Count'].values
MAGNet_R = SciNet_Papers_Merge[18].values

CPU times: user 547 µs, sys: 922 µs, total: 1.47 ms
Wall time: 1.49 ms

In [16]:
%%time
R_Pearson = scipy.stats.pearsonr(SciNet_R, MAGNet_R)
R_Pearson

CPU times: user 17.7 s, sys: 2.61 s, total: 20.3 s
Wall time: 5.35 s

(0.9969201980501826, 0.0)

In [17]:
%%time
R_Spearman = scipy.stats.spearmanr(SciNet_R, MAGNet_R)
R_Spearman

CPU times: user 1min 2s, sys: 17.2 s, total: 1min 19s
Wall time: 1min 15s

SpearmanrResult(correlation=0.9941520980194639, pvalue=0.0)