# Select MAG Primary Papers

In [1]:
date_str = '2021-12-06'

In [2]:
%%time
import pandas as pd
df_MAG_whole = pd.read_csv("./Data-Tables-MAG_" + date_str + "/df_MAG_whole.csv", sep='\t')
df_MAG_whole

CPU times: user 2min 6s, sys: 19.8 s, total: 2min 26s
Wall time: 2min 29s

,0,2,3,7,8,11,12,13,22,24
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,NaN,2789336.0,NaN
1,2257060365,10.3233/978-1-58603-957-8-354,NaN,2009.0,2009-07-10,NaN,NaN,NaN,2789336.0,NaN
2,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,NaN,9552966.0,NaN
3,2769674369,NaN,Journal,2005.0,2005-01-01,1.766438e+08,NaN,NaN,9552966.0,NaN
4,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,NaN,9694411.0,NaN
...,...,...,...,...,...,...,...,...,...,...
136611306,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,NaN,NaN,NaN
136611307,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,NaN,NaN,NaN
136611308,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,NaN,NaN,NaN
136611309,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,NaN,NaN,NaN
136611310,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,3.117406e+09,NaN,NaN

In [3]:
%%time
df_MAG_whole.loc[pd.notnull(df_MAG_whole['24']), :]

CPU times: user 387 ms, sys: 2.06 ms, total: 390 ms
Wall time: 394 ms

Empty DataFrame
Columns: [0, 2, 3, 7, 8, 11, 12, 13, 22, 24]
Index: []

In [4]:
%%time
df_MAG_whole.drop(['24'], axis=1, inplace=True)
df_MAG_whole

CPU times: user 6.05 s, sys: 2.14 s, total: 8.19 s
Wall time: 8.24 s

,0,2,3,7,8,11,12,13,22
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,NaN,2789336.0
1,2257060365,10.3233/978-1-58603-957-8-354,NaN,2009.0,2009-07-10,NaN,NaN,NaN,2789336.0
2,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,NaN,9552966.0
3,2769674369,NaN,Journal,2005.0,2005-01-01,1.766438e+08,NaN,NaN,9552966.0
4,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,NaN,9694411.0
...,...,...,...,...,...,...,...,...,...
136611306,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,NaN,NaN
136611307,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,NaN,NaN
136611308,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,NaN,NaN
136611309,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,NaN,NaN
136611310,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,3.117406e+09,NaN

In [5]:
%%time
df_MAG_Sel = df_MAG_whole.loc[((pd.isnull(df_MAG_whole['22'])) | (df_MAG_whole['22'] == df_MAG_whole['0'])), :]
df_MAG_Sel

CPU times: user 7.78 s, sys: 1.19 s, total: 8.98 s
Wall time: 8.98 s

,0,2,3,7,8,11,12,13,22
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,NaN,2789336.0
2,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,NaN,9552966.0
4,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,NaN,9694411.0
6,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,NaN,14355006.0
8,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,4.038532e+06,14558443.0
...,...,...,...,...,...,...,...,...,...
136611306,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,NaN,NaN
136611307,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,NaN,NaN
136611308,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,NaN,NaN
136611309,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,NaN,NaN
136611310,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,3.117406e+09,NaN

## Save df_MAG_Sel as primary paper table.

In [6]:
df_MAG_Sel.to_csv("./Data-Tables-MAG_" + date_str + "/df_MAG_Sel.csv", sep='\t', index=False)

In [7]:
df_MAG_Sel

,0,2,3,7,8,11,12,13,22
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,NaN,2789336.0
2,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,NaN,9552966.0
4,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,NaN,9694411.0
6,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,NaN,14355006.0
8,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,4.038532e+06,14558443.0
...,...,...,...,...,...,...,...,...,...
136611306,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,NaN,NaN
136611307,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,NaN,NaN
136611308,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,NaN,NaN
136611309,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,NaN,NaN
136611310,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,3.117406e+09,NaN