In [1]:
import pandas as pd
date_str = '2021-12-06'

In [2]:
%%time
df_MAG_Sel_wRC = pd.read_csv("../Final-Data/Data-Tables-MAG_" + date_str + "/df_MAG_Sel_wRC.csv", sep='\t')
df_MAG_Sel_wRC
# Sel_MAG_Ref_Cite.ipynb

CPU times: user 2min 57s, sys: 34.3 s, total: 3min 31s
Wall time: 3min 31s

,MAGID,DOI,DocType,Year,Date,JID,ConfSID,ConfInsID,C_all,C10,R,C3,C5
0,2789336,NaN,Journal,2008.0,2008-01-01,2.048520e+08,NaN,NaN,1.0,1.0,13.0,1.0,1.0
1,9552966,NaN,Journal,2005.0,2005-05-01,2.737569e+09,NaN,NaN,0.0,0.0,37.0,0.0,0.0
2,9694411,NaN,Conference,1994.0,1994-01-01,NaN,2.755927e+09,NaN,0.0,0.0,0.0,0.0,0.0
3,14355006,NaN,Repository,2011.0,2011-01-01,3.121261e+09,NaN,NaN,0.0,0.0,0.0,0.0,0.0
4,14558443,10.1007/978-3-662-45174-8_28,Conference,2014.0,2014-10-12,NaN,1.131603e+09,4.038532e+06,14.0,14.0,11.0,6.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
134129183,3215499129,10.1109/ICRERA52334.2021.9598593,NaN,2021.0,2021-09-26,NaN,NaN,NaN,0.0,0.0,14.0,0.0,0.0
134129184,3215845741,10.3389/FCVM.2021.766676,Journal,2021.0,2021-11-24,2.595414e+09,NaN,NaN,0.0,0.0,33.0,0.0,0.0
134129185,3216186450,10.1016/J.IDNOW.2021.11.004,NaN,2021.0,2021-11-24,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
134129186,3216762448,10.1016/J.ISTRUC.2021.10.095,Journal,2022.0,2022-01-01,2.898443e+09,NaN,NaN,0.0,0.0,33.0,0.0,0.0
134129187,3217727977,10.1109/MLISE54096.2021.00043,Conference,2021.0,2021-07-09,NaN,1.180663e+09,3.117406e+09,0.0,0.0,0.0,0.0,0.0

In [3]:
df_Nobel_Prizewinning = pd.read_csv('../../DataLake/Publications-Of-Nobel-Laureates/Prize-winning paper record.csv')
df_Nobel_Prizewinning

,Field,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,Additional information
0,Physics,10001,"thouless, dj",2016,ordering metastability and phase transitions i...,1973,2.086860e+09,NaN
1,Physics,10002,"kosterlitz, jm",2016,ordering metastability and phase transitions i...,1973,2.086860e+09,NaN
2,Physics,10003,"haldane, fdm",2016,nonlinear field theory of large spin heisenber...,1983,2.113166e+09,NaN
3,Physics,10004,"kajita, t",2015,evidence for oscillation of atmospheric neutrinos,1998,2.134803e+09,NaN
4,Physics,10005,"mcdonald, ab",2015,direct evidence for neutrino flavor transforma...,2002,1.983987e+09,NaN
...,...,...,...,...,...,...,...,...
869,Medicine,30188,charles robert richet,1913,the physiological effects of the poison of fis...,1902,NaN,Not find in MAG dataset
870,Medicine,30189,"carrel, a",1912,viii on the experimental surgery of the thorac...,1910,1.424635e+08,NaN
871,Medicine,30189,"carrel, a",1912,results of the transplantation of blood vessel...,1908,2.052890e+09,NaN
872,Medicine,30189,"carrel, a",1912,results of the biterminal transplantation of v...,1906,2.067984e+09,NaN
873,Medicine,30189,"carrel, a",1912,the surgery of blood vessels etc,1907,2.294441e+09,NaN

In [6]:
df_Nobel_Prizewinning['Paper ID']

0      2.086860e+09
1      2.086860e+09
2      2.113166e+09
3      2.134803e+09
4      1.983987e+09
           ...
869             NaN
870    1.424635e+08
871    2.052890e+09
872    2.067984e+09
873    2.294441e+09
Name: Paper ID, Length: 874, dtype: float64

In [17]:
df_Nobel_Prizewinning_MAG = df_Nobel_Prizewinning[pd.notnull(df_Nobel_Prizewinning['Paper ID'])]
df_Nobel_Prizewinning_MAG

,Field,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,Additional information
0,Physics,10001,"thouless, dj",2016,ordering metastability and phase transitions i...,1973,2.086860e+09,NaN
1,Physics,10002,"kosterlitz, jm",2016,ordering metastability and phase transitions i...,1973,2.086860e+09,NaN
2,Physics,10003,"haldane, fdm",2016,nonlinear field theory of large spin heisenber...,1983,2.113166e+09,NaN
3,Physics,10004,"kajita, t",2015,evidence for oscillation of atmospheric neutrinos,1998,2.134803e+09,NaN
4,Physics,10005,"mcdonald, ab",2015,direct evidence for neutrino flavor transforma...,2002,1.983987e+09,NaN
...,...,...,...,...,...,...,...,...
866,Medicine,30187,"krogh, a",1920,the supply of oxygen to the tissues and the re...,1919,2.110458e+09,NaN
870,Medicine,30189,"carrel, a",1912,viii on the experimental surgery of the thorac...,1910,1.424635e+08,NaN
871,Medicine,30189,"carrel, a",1912,results of the transplantation of blood vessel...,1908,2.052890e+09,NaN
872,Medicine,30189,"carrel, a",1912,results of the biterminal transplantation of v...,1906,2.067984e+09,NaN
873,Medicine,30189,"carrel, a",1912,the surgery of blood vessels etc,1907,2.294441e+09,NaN

In [10]:
df_MAG_Sub2Primary = pd.read_csv("../Final-Data/Data-Tables-MAG_" + date_str + "/df_MAG_Sub2Primary.csv", sep='\t')
df_MAG_Sub2Primary
# Read_MAG_Paper_Raw.ipynb

                  0           1
0        2257060365     2789336
1        2769674369     9552966
2        3122381652    14355006
3        2953327271    14558443
4        2950265543    15354235
...             ...         ...
2482118  2616217832  3216999536
2482119  3171466081  3217013705
2482120  3151079950  3217346674
2482121  3169067801  3217465650
2482122  3201886610  3217523141

[2482123 rows x 2 columns]

In [14]:
%%time
df_Nobel_Prizewinning_Pri = df_Nobel_Prizewinning.loc[df_Nobel_Prizewinning['Paper ID'].isin(df_MAG_Sel_wRC['MAGID']),:]
df_Nobel_Prizewinning_Pri

CPU times: user 30.1 s, sys: 2.72 s, total: 32.8 s
Wall time: 32.8 s

,Field,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,Additional information
0,Physics,10001,"thouless, dj",2016,ordering metastability and phase transitions i...,1973,2.086860e+09,NaN
1,Physics,10002,"kosterlitz, jm",2016,ordering metastability and phase transitions i...,1973,2.086860e+09,NaN
2,Physics,10003,"haldane, fdm",2016,nonlinear field theory of large spin heisenber...,1983,2.113166e+09,NaN
3,Physics,10004,"kajita, t",2015,evidence for oscillation of atmospheric neutrinos,1998,2.134803e+09,NaN
4,Physics,10005,"mcdonald, ab",2015,direct evidence for neutrino flavor transforma...,2002,1.983987e+09,NaN
...,...,...,...,...,...,...,...,...
865,Medicine,30187,"krogh, a",1920,the number and distribution of capillaries in ...,1919,2.109393e+09,NaN
866,Medicine,30187,"krogh, a",1920,the supply of oxygen to the tissues and the re...,1919,2.110458e+09,NaN
870,Medicine,30189,"carrel, a",1912,viii on the experimental surgery of the thorac...,1910,1.424635e+08,NaN
871,Medicine,30189,"carrel, a",1912,results of the transplantation of blood vessel...,1908,2.052890e+09,NaN
872,Medicine,30189,"carrel, a",1912,results of the biterminal transplantation of v...,1906,2.067984e+09,NaN

In [15]:
df_Nobel_Prizewinning_Sub = df_Nobel_Prizewinning.loc[df_Nobel_Prizewinning['Paper ID'].isin(df_MAG_Sub2Primary['0']),:]
print(len(df_Nobel_Prizewinning_Sub))
df_Nobel_Prizewinning_Sub.tail(5)

28

,Field,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,Additional information
775,Medicine,30131,"crick, fhc",1962,molecular structure of nucleic acids a structu...,1953,2.126466e+09,NaN
820,Medicine,30162,"fleming, a",1945,on the antibacterial action of cultures of a p...,1929,2.177846e+09,NaN
843,Medicine,30174,"minot, gr",1934,treatment of pernicious anemia by a special diet,1926,2.032616e+09,NaN
846,Medicine,30176,"murphy, wp",1934,treatment of pernicious anemia by a special diet,1926,2.032616e+09,NaN
858,Medicine,30184,"banting, fg",1923,pancreatic extracts in the treatment of diabet...,1922,1.763523e+08,Diabetes is the body's inability to metabolize...

In [ ]:
df_Nobel_Prizewinning_Sub

In [16]:
df_Nobel_Prizewinning_Sel = pd.concat([df_Nobel_Prizewinning_Pri, df_Nobel_Prizewinning_Sub], ignore_index=True)
df_Nobel_Prizewinning_Sel

,Field,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,Additional information
0,Physics,10001,"thouless, dj",2016,ordering metastability and phase transitions i...,1973,2.086860e+09,NaN
1,Physics,10002,"kosterlitz, jm",2016,ordering metastability and phase transitions i...,1973,2.086860e+09,NaN
2,Physics,10003,"haldane, fdm",2016,nonlinear field theory of large spin heisenber...,1983,2.113166e+09,NaN
3,Physics,10004,"kajita, t",2015,evidence for oscillation of atmospheric neutrinos,1998,2.134803e+09,NaN
4,Physics,10005,"mcdonald, ab",2015,direct evidence for neutrino flavor transforma...,2002,1.983987e+09,NaN
...,...,...,...,...,...,...,...,...
808,Medicine,30131,"crick, fhc",1962,molecular structure of nucleic acids a structu...,1953,2.126466e+09,NaN
809,Medicine,30162,"fleming, a",1945,on the antibacterial action of cultures of a p...,1929,2.177846e+09,NaN
810,Medicine,30174,"minot, gr",1934,treatment of pernicious anemia by a special diet,1926,2.032616e+09,NaN
811,Medicine,30176,"murphy, wp",1934,treatment of pernicious anemia by a special diet,1926,2.032616e+09,NaN
812,Medicine,30184,"banting, fg",1923,pancreatic extracts in the treatment of diabet...,1922,1.763523e+08,Diabetes is the body's inability to metabolize...

In [20]:
df_Nobel_Prizewinning_MAG_out = df_Nobel_Prizewinning_MAG.loc[
    ~df_Nobel_Prizewinning_MAG['Paper ID'].isin(df_Nobel_Prizewinning_Sel['Paper ID']), :]
df_Nobel_Prizewinning_MAG_out

,Field,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,Additional information
71,Physics,10054,"lee, dm",1996,new magnetic phenomena in liquidhe3below 3 mk,1972,2.320841e+09,NaN
74,Physics,10056,"richards, rc",1996,new magnetic phenomena in liquidhe3below 3 mk,1972,2.320841e+09,NaN
89,Physics,10065,"taylor, re",1990,high energy inelastic e p scattering at 6 and 10,1969,2.087611e+09,NaN
93,Physics,10066,"friedman, ji",1990,high energy inelastic e p scattering at 6 and 10,1969,2.087611e+09,NaN
98,Physics,10067,"kendall, hw",1990,high energy inelastic e p scattering at 6 and 10,1969,2.087611e+09,NaN
128,Physics,10090,"salam, a",1979,weak and electromagnetic interactions,1968,2.078537e+09,NaN
194,Physics,10135,"tamm, i",1958,coherent visible radiation from fast electrons...,1937,2.599074e+09,NaN
208,Physics,10144,"born, m",1954,on the quantum theory of molecules,1927,2.486023e+09,NaN
229,Physics,10158,"stern, o",1943,the magnetic moment of silver atoms,1922,2.596075e+09,NaN
251,Physics,10174,"perrin, j",1926,sur la theorie du mouvement brownien,1908,1.310074e+08,NaN
302,Chemistry,20015,"shechtman, d",2011,metallic phase with long range orientational o...,1984,2.569915e+09,NaN
313,Chemistry,20020,"steitz, t",2009,the complete atomic structure of the large rib...,2000,1.563270e+09,NaN
341,Chemistry,20033,"agre, p",2003,appearance of water channels in xenopus oocyte...,1992,1.594307e+08,NaN
348,Chemistry,20040,"sharpless, k",2001,the first practical method for asymmetric epox...,1980,1.968125e+09,NaN
361,Chemistry,20049,"skou, j",1997,the influence of some cations on an adenosine ...,1957,2.058236e+09,NaN
470,Chemistry,20117,n. n. semenov,1956,Chemical kinetics and chain reactions,1935,6.333406e+08,NaN
515,Chemistry,20145,"langmuir, i",1932,the constitution and fundamental properties of...,1917,2.746504e+09,NaN
517,Chemistry,20147,carl bosch,1931,ABSORBING AMMONIA AND APPARATUS THEREFOR,1913,2.486733e+09,NaN
565,Medicine,30014,"hoffmann, ja",2011,the dorsoventral regulatory gene cassette cont...,1996,2.773922e+08,NaN
678,Medicine,30083,"snell, gd",1980,some transamination reactions involving vitami...,1952,2.339545e+09,NaN
737,Medicine,30113,"nirenberg, m",1968,the dependence of cell free protein synthesis ...,1961,2.156947e+09,NaN
758,Medicine,30122,"lwoff, a",1965,induction of bacteriophage production in a bac...,1950,1.697142e+09,NaN
769,Medicine,30129,"wilkins, mhf",1962,molecular structure of deoxypentose nucleic acids,1953,1.502527e+09,NaN
807,Medicine,30153,"hench, ps",1950,the effect of a hormone of the adrenal cortex ...,1949,2.598623e+09,NaN
810,Medicine,30156,"muller, p",1948,the constitution and toxic effect of natural a...,1944,2.310207e+09,NaN
845,Medicine,30175,"whipple, gh",1934,blood volume studies iii behavior of large ser...,1920,2.777466e+09,NaN
849,Medicine,30178,"adrian, ed",1932,the discharge of impulses in motor nerve fibre...,1928,2.011804e+09,NaN
873,Medicine,30189,"carrel, a",1912,the surgery of blood vessels etc,1907,2.294441e+09,NaN

In [25]:
len(df_Nobel_Prizewinning_MAG_out['Paper ID'].unique())

25

In [23]:
Prizewinning_MAG_Focus = df_Nobel_Prizewinning_MAG_out['Paper ID'].values.astype(int)
Prizewinning_MAG_Focus

array([2320840978, 2320840978, 2087610997, 2087610997, 2087610997,
       2078536640, 2599073804, 2486023113, 2596075454,  131007391,
       2569915238, 1563270439,  159430704, 1968124833, 2058236257,
        633340598, 2746503605, 2486733299,  277392156, 2339544843,
       2156946543, 1697141686, 1502527096, 2598622911, 2310206987,
       2777465940, 2011803983, 2294441179])

In [26]:
df_MAG_Sel_wRC.loc[df_MAG_Sel_wRC['MAGID'] == 2078536640,:]

Empty DataFrame
Columns: [MAGID, DOI, DocType, Year, Date, JID, ConfSID, ConfInsID, C_all, C10, R, C3, C5]
Index: []

In [ ]:
# 2320840978, 2087610997, 2596075454, 131007391, 2569915238, 1563270439, 159430704, 1968124833, 2058236257,
# 633340598, 2746503605, 2486733299, 277392156, 2339544843, 1502527096, 2598622911, 2777465940, 2011803983, no record,
# 2078536640, 2599073804, 2486023113 (wrong paper), 2156946543 (1961), 1697141686 (cabdirect abstract), 
# 2310206987 (cabdirect), 2294441179(popeline)

In [35]:
SciNet_Nobel = df_Nobel_Prizewinning_Sel.loc[:,['Laureate ID','Paper ID']]
SciNet_Nobel

     Laureate ID      Paper ID
0          10001  2.086860e+09
1          10002  2.086860e+09
2          10003  2.113166e+09
3          10004  2.134803e+09
4          10005  1.983987e+09
..           ...           ...
808        30131  2.126466e+09
809        30162  2.177846e+09
810        30174  2.032616e+09
811        30176  2.032616e+09
812        30184  1.763523e+08

[813 rows x 2 columns]

In [36]:
df_Nobel_rest = df_Nobel_Prizewinning.loc[
    ~df_Nobel_Prizewinning['Paper ID'].isin(SciNet_Nobel['Paper ID']), :]
df_Nobel_rest

,Field,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,Additional information
50,Physics,10036,"ginzburg, vl",2003,On the Theory of superconductivity(In Russian),1950,NaN,Not find in MAG dataset
71,Physics,10054,"lee, dm",1996,new magnetic phenomena in liquidhe3below 3 mk,1972,2.320841e+09,NaN
74,Physics,10056,"richards, rc",1996,new magnetic phenomena in liquidhe3below 3 mk,1972,2.320841e+09,NaN
89,Physics,10065,"taylor, re",1990,high energy inelastic e p scattering at 6 and 10,1969,2.087611e+09,NaN
93,Physics,10066,"friedman, ji",1990,high energy inelastic e p scattering at 6 and 10,1969,2.087611e+09,NaN
...,...,...,...,...,...,...,...,...
855,Medicine,30181,"nicolle, c",1928,experiemntal transmission of the exanthematic ...,1909,NaN,Not find in MAG dataset
867,Medicine,30188,charles robert richet,1913,the anaphylactic effect of certain venoms,1902,NaN,Not find in MAG dataset
868,Medicine,30188,charles robert richet,1913,the anaphylactic effects of the actinotoxin on...,1902,NaN,Not find in MAG dataset
869,Medicine,30188,charles robert richet,1913,the physiological effects of the poison of fis...,1902,NaN,Not find in MAG dataset
873,Medicine,30189,"carrel, a",1912,the surgery of blood vessels etc,1907,2.294441e+09,NaN

In [73]:
len(df_Nobel_rest[pd.isnull(df_Nobel_rest['Paper ID'])])

33

In [ ]:
Nobel_rest_list = df_Nobel_rest[['Laureate name','Pub year','Title']].values

In [37]:
SciNet_Nobel.rename(columns={'Laureate ID':'LaureateID','Paper ID':'PaperID'},inplace=True)
SciNet_Nobel

     LaureateID       PaperID
0         10001  2.086860e+09
1         10002  2.086860e+09
2         10003  2.113166e+09
3         10004  2.134803e+09
4         10005  1.983987e+09
..          ...           ...
808       30131  2.126466e+09
809       30162  2.177846e+09
810       30174  2.032616e+09
811       30176  2.032616e+09
812       30184  1.763523e+08

[813 rows x 2 columns]

In [38]:
SciNet_Nobel['Type'] = 1
SciNet_Nobel

     LaureateID       PaperID  Type
0         10001  2.086860e+09     1
1         10002  2.086860e+09     1
2         10003  2.113166e+09     1
3         10004  2.134803e+09     1
4         10005  1.983987e+09     1
..          ...           ...   ...
808       30131  2.126466e+09     1
809       30162  2.177846e+09     1
810       30174  2.032616e+09     1
811       30176  2.032616e+09     1
812       30184  1.763523e+08     1

[813 rows x 3 columns]

In [40]:
%%time
import json
with open("../Final-Data/Data-Tables-MAG_" + date_str +"/MAG_Sub2Primary_Dict.json", 'r') as fp:
    MAG_Sub2Primary_Dict = json.load(fp)

MAG_Sub2Primary_Dict = {int(k):int(v) for k,v in MAG_Sub2Primary_Dict.items()}
print(len(MAG_Sub2Primary_Dict))
MAG_Sub2Primary_Dict[2257060365]
# Read_MAG_Paper_Raw.ipynb

2482123
CPU times: user 3.12 s, sys: 259 ms, total: 3.38 s
Wall time: 3.46 s

2789336

In [43]:
def sub_to_primary(x):
    if x in MAG_Sub2Primary_Dict:
        return MAG_Sub2Primary_Dict[x]
    return x

In [41]:
SciNet_Nobel.rename(columns={'PaperID':'OldPaperID'},inplace=True)
SciNet_Nobel

     LaureateID    OldPaperID  Type
0         10001  2.086860e+09     1
1         10002  2.086860e+09     1
2         10003  2.113166e+09     1
3         10004  2.134803e+09     1
4         10005  1.983987e+09     1
..          ...           ...   ...
808       30131  2.126466e+09     1
809       30162  2.177846e+09     1
810       30174  2.032616e+09     1
811       30176  2.032616e+09     1
812       30184  1.763523e+08     1

[813 rows x 3 columns]

In [44]:
SciNet_Nobel['PaperID'] = SciNet_Nobel['OldPaperID'].apply(sub_to_primary)
SciNet_Nobel

     LaureateID    OldPaperID  Type       PaperID
0         10001  2.086860e+09     1  2.086860e+09
1         10002  2.086860e+09     1  2.086860e+09
2         10003  2.113166e+09     1  2.113166e+09
3         10004  2.134803e+09     1  2.134803e+09
4         10005  1.983987e+09     1  1.983987e+09
..          ...           ...   ...           ...
808       30131  2.126466e+09     1  2.347101e+09
809       30162  2.177846e+09     1  2.116465e+09
810       30174  2.032616e+09     1  2.042481e+09
811       30176  2.032616e+09     1  2.042481e+09
812       30184  1.763523e+08     1  2.126641e+09

[813 rows x 4 columns]

In [46]:
len(SciNet_Nobel.loc[SciNet_Nobel['OldPaperID']!=SciNet_Nobel['PaperID'],:])

28

In [47]:
SciNet_Nobel_Sel = SciNet_Nobel.loc[:,['LaureateID','Type','PaperID']]
SciNet_Nobel_Sel

     LaureateID  Type       PaperID
0         10001     1  2.086860e+09
1         10002     1  2.086860e+09
2         10003     1  2.113166e+09
3         10004     1  2.134803e+09
4         10005     1  1.983987e+09
..          ...   ...           ...
808       30131     1  2.347101e+09
809       30162     1  2.116465e+09
810       30174     1  2.042481e+09
811       30176     1  2.042481e+09
812       30184     1  2.126641e+09

[813 rows x 3 columns]

In [48]:
# Check again
SciNet_Nobel_Sel.loc[SciNet_Nobel_Sel['PaperID'].isin(df_MAG_Sel_wRC['MAGID']), :]

     LaureateID  Type       PaperID
0         10001     1  2.086860e+09
1         10002     1  2.086860e+09
2         10003     1  2.113166e+09
3         10004     1  2.134803e+09
4         10005     1  1.983987e+09
..          ...   ...           ...
808       30131     1  2.347101e+09
809       30162     1  2.116465e+09
810       30174     1  2.042481e+09
811       30176     1  2.042481e+09
812       30184     1  2.126641e+09

[813 rows x 3 columns]

# Medicine

In [31]:
df_Nobel_Medicine = pd.read_csv('../../DataLake/Publications-Of-Nobel-Laureates/Medicine publication record.csv',
                               encoding = "ISO-8859-1")
df_Nobel_Medicine

,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,DOI,Journal,Affiliation,Is prize-winning paper
0,30001,"ohsumi, y",2016,isolation and characterization of autophagy de...,1993,2.011580e+09,10.1016/0014-5793(93)80398-E,febs letters,tokyo institute of technology,YES
1,30001,"ohsumi, y",2016,autophagy in yeast demonstrated with proteinas...,1992,2.126802e+09,10.1083/jcb.119.2.301,journal of cell biology,tokyo institute of technology,YES
2,30001,"ohsumi, y",2016,a new protein conjugation system in human the ...,1998,1.964053e+09,10.1074/jbc.273.51.33889,journal of biological chemistry,tokyo institute of technology,NO
3,30001,"ohsumi, y",2016,tor mediated induction of autophagy via an apg...,2000,1.964258e+09,10.1083/jcb.150.6.1507,journal of cell biology,tokyo institute of technology,NO
4,30001,"ohsumi, y",2016,organization of the pre autophagosomal structu...,2008,2.096146e+09,10.1091/mbc.E07-10-1048,molecular biology of the cell,tokyo institute of technology,NO
...,...,...,...,...,...,...,...,...,...,...
29228,30189,"carrel, a",1912,the preservation of tissues and its applicatio...,1912,2.090662e+09,10.1001/jama.1912.04270080205010,jama,rockefeller university,NO
29229,30189,"carrel, a",1912,the culture of whole organs,1935,2.093263e+09,10.1126/science.81.2112.621,science,rockefeller university,NO
29230,30189,"carrel, a",1912,production of antibodies by tissues living out...,1912,2.093459e+09,10.1001/jama.1912.04260020161014,jama,rockefeller university,NO
29231,30189,"carrel, a",1912,the behavior of abnormal human thyroid tissue ...,1939,2.171780e+09,10.1084/jem.70.1.39,journal of experimental medicine,rockefeller university,NO
29232,30189,"carrel, a",1912,effect of the amino acids and dialyzable const...,1926,2.171961e+09,10.1084/jem.44.3.397,journal of experimental medicine,rockefeller university,NO

In [56]:
df_Nobel_Medicine[pd.notnull(df_Nobel_Medicine['Paper ID'])]

,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,DOI,Journal,Affiliation,Is prize-winning paper
0,30001,"ohsumi, y",2016,isolation and characterization of autophagy de...,1993,2.011580e+09,10.1016/0014-5793(93)80398-E,febs letters,tokyo institute of technology,YES
1,30001,"ohsumi, y",2016,autophagy in yeast demonstrated with proteinas...,1992,2.126802e+09,10.1083/jcb.119.2.301,journal of cell biology,tokyo institute of technology,YES
2,30001,"ohsumi, y",2016,a new protein conjugation system in human the ...,1998,1.964053e+09,10.1074/jbc.273.51.33889,journal of biological chemistry,tokyo institute of technology,NO
3,30001,"ohsumi, y",2016,tor mediated induction of autophagy via an apg...,2000,1.964258e+09,10.1083/jcb.150.6.1507,journal of cell biology,tokyo institute of technology,NO
4,30001,"ohsumi, y",2016,organization of the pre autophagosomal structu...,2008,2.096146e+09,10.1091/mbc.E07-10-1048,molecular biology of the cell,tokyo institute of technology,NO
...,...,...,...,...,...,...,...,...,...,...
29228,30189,"carrel, a",1912,the preservation of tissues and its applicatio...,1912,2.090662e+09,10.1001/jama.1912.04270080205010,jama,rockefeller university,NO
29229,30189,"carrel, a",1912,the culture of whole organs,1935,2.093263e+09,10.1126/science.81.2112.621,science,rockefeller university,NO
29230,30189,"carrel, a",1912,production of antibodies by tissues living out...,1912,2.093459e+09,10.1001/jama.1912.04260020161014,jama,rockefeller university,NO
29231,30189,"carrel, a",1912,the behavior of abnormal human thyroid tissue ...,1939,2.171780e+09,10.1084/jem.70.1.39,journal of experimental medicine,rockefeller university,NO
29232,30189,"carrel, a",1912,effect of the amino acids and dialyzable const...,1926,2.171961e+09,10.1084/jem.44.3.397,journal of experimental medicine,rockefeller university,NO

In [39]:
%%time
df_Medicine_Pri = df_Nobel_Medicine.loc[df_Nobel_Medicine['Paper ID'].isin(df_MAG_Sel_wRC['MAGID']),:]
df_Medicine_Pri

CPU times: user 30.4 s, sys: 3.13 s, total: 33.5 s
Wall time: 33.5 s

,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,DOI,Journal,Affiliation,Is prize-winning paper
0,30001,"ohsumi, y",2016,isolation and characterization of autophagy de...,1993,2.011580e+09,10.1016/0014-5793(93)80398-E,febs letters,tokyo institute of technology,YES
1,30001,"ohsumi, y",2016,autophagy in yeast demonstrated with proteinas...,1992,2.126802e+09,10.1083/jcb.119.2.301,journal of cell biology,tokyo institute of technology,YES
2,30001,"ohsumi, y",2016,a new protein conjugation system in human the ...,1998,1.964053e+09,10.1074/jbc.273.51.33889,journal of biological chemistry,tokyo institute of technology,NO
3,30001,"ohsumi, y",2016,tor mediated induction of autophagy via an apg...,2000,1.964258e+09,10.1083/jcb.150.6.1507,journal of cell biology,tokyo institute of technology,NO
4,30001,"ohsumi, y",2016,organization of the pre autophagosomal structu...,2008,2.096146e+09,10.1091/mbc.E07-10-1048,molecular biology of the cell,tokyo institute of technology,NO
...,...,...,...,...,...,...,...,...,...,...
29228,30189,"carrel, a",1912,the preservation of tissues and its applicatio...,1912,2.090662e+09,10.1001/jama.1912.04270080205010,jama,rockefeller university,NO
29229,30189,"carrel, a",1912,the culture of whole organs,1935,2.093263e+09,10.1126/science.81.2112.621,science,rockefeller university,NO
29230,30189,"carrel, a",1912,production of antibodies by tissues living out...,1912,2.093459e+09,10.1001/jama.1912.04260020161014,jama,rockefeller university,NO
29231,30189,"carrel, a",1912,the behavior of abnormal human thyroid tissue ...,1939,2.171780e+09,10.1084/jem.70.1.39,journal of experimental medicine,rockefeller university,NO
29232,30189,"carrel, a",1912,effect of the amino acids and dialyzable const...,1926,2.171961e+09,10.1084/jem.44.3.397,journal of experimental medicine,rockefeller university,NO

In [49]:
%%time
df_Medicine_Sub = df_Nobel_Medicine.loc[df_Nobel_Medicine['Paper ID'].isin(df_MAG_Sub2Primary['0']),:]
df_Medicine_Sub

CPU times: user 262 ms, sys: 7.08 ms, total: 269 ms
Wall time: 268 ms

,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,DOI,Journal,Affiliation,Is prize-winning paper
227,30003,"omura, s",2015,a concise stereoselective route to the indolin...,2005,1.965710e+09,10.1002/chin.200531173,cheminform,kitasato university,NO
324,30003,"omura, s",2015,cheminform abstract chemistry and synthetic st...,2010,2.103929e+09,10.1002/chin.199710257,cheminform,kitasato university,NO
374,30003,"omura, s",2015,rapid sar via click chemistry an alkyne bearin...,2006,2.107894e+09,10.1002/chin.200722209,heterocycles,kitasato university,NO
395,30003,"omura, s",2015,cheminform abstract short total synthesis of m...,2010,1.987276e+09,10.1002/chin.200226219,cheminform,kitasato university,NO
478,30003,"omura, s",2015,studies on the biosynthesis of the antibiotic ...,1993,1.999245e+09,10.1021/ja00079a009,journal of the american chemical society,kitasato university,NO
...,...,...,...,...,...,...,...,...,...,...
28813,30178,"adrian, ed",1932,afferent discharges to the cerebral cortex fro...,1941,2.089304e+09,10.1113/jphysiol.1941.sp003932,the journal of physiology,NaN,NO
28896,30179,"warburg, o",1931,ber die entstehung der krebszellen,1955,2.083168e+09,10.1007/BF00601924,naturwissenschaften,NaN,NO
28953,30184,"banting, fg",1923,pancreatic extracts in the treatment of diabet...,1922,1.763523e+08,NaN,canadian medical association journal,NaN,YES
29029,30186,"hill, av",1922,a thermal method of measuring the vapour press...,1930,2.044143e+09,10.1098/rspb.1930.0026,NaN,NaN,NO
29072,30186,"hill, av",1922,a method of analysing galvanometer records,1921,2.072537e+09,10.1098/rspb.1921.0018,NaN,NaN,NO

In [52]:
df_Medicine_Sub = df_Medicine_Sub.copy()
df_Medicine_Sub['Paper ID'] = df_Medicine_Sub['Paper ID'].apply(sub_to_primary)
df_Medicine_Sub

,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,DOI,Journal,Affiliation,Is prize-winning paper
227,30003,"omura, s",2015,a concise stereoselective route to the indolin...,2005,2950777303,10.1002/chin.200531173,cheminform,kitasato university,NO
324,30003,"omura, s",2015,cheminform abstract chemistry and synthetic st...,2010,2952156001,10.1002/chin.199710257,cheminform,kitasato university,NO
374,30003,"omura, s",2015,rapid sar via click chemistry an alkyne bearin...,2006,2950421387,10.1002/chin.200722209,heterocycles,kitasato university,NO
395,30003,"omura, s",2015,cheminform abstract short total synthesis of m...,2010,2950102491,10.1002/chin.200226219,cheminform,kitasato university,NO
478,30003,"omura, s",2015,studies on the biosynthesis of the antibiotic ...,1993,2951303328,10.1021/ja00079a009,journal of the american chemical society,kitasato university,NO
...,...,...,...,...,...,...,...,...,...,...
28813,30178,"adrian, ed",1932,afferent discharges to the cerebral cortex fro...,1941,1998586476,10.1113/jphysiol.1941.sp003932,the journal of physiology,NaN,NO
28896,30179,"warburg, o",1931,ber die entstehung der krebszellen,1955,2045783558,10.1007/BF00601924,naturwissenschaften,NaN,NO
28953,30184,"banting, fg",1923,pancreatic extracts in the treatment of diabet...,1922,2126640907,NaN,canadian medical association journal,NaN,YES
29029,30186,"hill, av",1922,a thermal method of measuring the vapour press...,1930,1971867984,10.1098/rspb.1930.0026,NaN,NaN,NO
29072,30186,"hill, av",1922,a method of analysing galvanometer records,1921,2110161706,10.1098/rspb.1921.0018,NaN,NaN,NO

In [53]:
df_Medicine_Total = pd.concat([df_Medicine_Pri,df_Medicine_Sub], ignore_index=True)
df_Medicine_Total

,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,DOI,Journal,Affiliation,Is prize-winning paper
0,30001,"ohsumi, y",2016,isolation and characterization of autophagy de...,1993,2.011580e+09,10.1016/0014-5793(93)80398-E,febs letters,tokyo institute of technology,YES
1,30001,"ohsumi, y",2016,autophagy in yeast demonstrated with proteinas...,1992,2.126802e+09,10.1083/jcb.119.2.301,journal of cell biology,tokyo institute of technology,YES
2,30001,"ohsumi, y",2016,a new protein conjugation system in human the ...,1998,1.964053e+09,10.1074/jbc.273.51.33889,journal of biological chemistry,tokyo institute of technology,NO
3,30001,"ohsumi, y",2016,tor mediated induction of autophagy via an apg...,2000,1.964258e+09,10.1083/jcb.150.6.1507,journal of cell biology,tokyo institute of technology,NO
4,30001,"ohsumi, y",2016,organization of the pre autophagosomal structu...,2008,2.096146e+09,10.1091/mbc.E07-10-1048,molecular biology of the cell,tokyo institute of technology,NO
...,...,...,...,...,...,...,...,...,...,...
28744,30178,"adrian, ed",1932,afferent discharges to the cerebral cortex fro...,1941,1.998586e+09,10.1113/jphysiol.1941.sp003932,the journal of physiology,NaN,NO
28745,30179,"warburg, o",1931,ber die entstehung der krebszellen,1955,2.045784e+09,10.1007/BF00601924,naturwissenschaften,NaN,NO
28746,30184,"banting, fg",1923,pancreatic extracts in the treatment of diabet...,1922,2.126641e+09,NaN,canadian medical association journal,NaN,YES
28747,30186,"hill, av",1922,a thermal method of measuring the vapour press...,1930,1.971868e+09,10.1098/rspb.1930.0026,NaN,NaN,NO
28748,30186,"hill, av",1922,a method of analysing galvanometer records,1921,2.110162e+09,10.1098/rspb.1921.0018,NaN,NaN,NO

In [55]:
df_Medicine_Sel = df_Medicine_Total.loc[:,['Laureate ID','Paper ID','Is prize-winning paper']]
df_Medicine_Sel

       Laureate ID      Paper ID Is prize-winning paper
0            30001  2.011580e+09                    YES
1            30001  2.126802e+09                    YES
2            30001  1.964053e+09                     NO
3            30001  1.964258e+09                     NO
4            30001  2.096146e+09                     NO
...            ...           ...                    ...
28744        30178  1.998586e+09                     NO
28745        30179  2.045784e+09                     NO
28746        30184  2.126641e+09                    YES
28747        30186  1.971868e+09                     NO
28748        30186  2.110162e+09                     NO

[28749 rows x 3 columns]

# Physics publication record.csv

In [58]:
df_Nobel_Physics = pd.read_csv('../../DataLake/Publications-Of-Nobel-Laureates/Physics publication record.csv',
                               encoding = "ISO-8859-1")
df_Nobel_Physics

,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,DOI,Journal,Affiliation,Is prize-winning paper
0,10001,"thouless, dj",2016,ordering metastability and phase transitions i...,1973.0,2.086860e+09,10.1088/0022-3719/6/7/010,journal of physics c solid state physics,university of washington,YES
1,10001,"thouless, dj",2016,metastability and phase transitions in two dim...,1973.0,1.037496e+08,NaN,NaN,NaN,NO
2,10001,"thouless, dj",2016,from feynman s wave function to the effective ...,1994.0,1.967118e+09,10.1103/PhysRevLett.72.1706,physical review letters,university of washington,NO
3,10001,"thouless, dj",2016,pairing instability and mechanical collapse of...,2002.0,1.971620e+09,10.1103/PhysRevA.66.011603,physical review a,university of washington,NO
4,10001,"thouless, dj",2016,quantum hall effect current distribution and t...,1997.0,1.972295e+09,10.1016/S0038-1098(96)00744-2,solid state communications,university of washington,NO
...,...,...,...,...,...,...,...,...,...,...
21499,10193,"zeeman, p",1902,The Effect of Magnetisation on the Nature of L...,1897.0,NaN,NaN,NaN,NaN,YES
21500,10193,"zeeman, p",1902,The Influence of a Magnetic Field on Radiation...,1896.0,NaN,NaN,NaN,NaN,YES
21501,10193,"zeeman, p",1902,zur hyperfeinstruktur des wismuts,1930.0,2.058955e+09,10.1007/BF01397521,european physical journal,NaN,NO
21502,10193,"zeeman, p",1902,on the spectrum of ionised potassium in connex...,1924.0,2.013742e+09,10.1038/114352a0,nature,university of amsterdam,NO
21503,10193,"zeeman, p",1902,on a connexion between the spectra of argon an...,1925.0,2.033830e+09,10.1038/115116b0,nature,university of amsterdam,NO

In [59]:
%%time
df_Physics_Pri = df_Nobel_Physics.loc[df_Nobel_Physics['Paper ID'].isin(df_MAG_Sel_wRC['MAGID']),:]

CPU times: user 31.7 s, sys: 2.35 s, total: 34.1 s
Wall time: 34.1 s

In [60]:
%%time
df_Physics_Sub = df_Nobel_Physics.loc[df_Nobel_Physics['Paper ID'].isin(df_MAG_Sub2Primary['0']),:]
df_Physics_Sub = df_Physics_Sub.copy()
df_Physics_Sub['Paper ID'] = df_Physics_Sub['Paper ID'].apply(sub_to_primary)

CPU times: user 254 ms, sys: 10.4 ms, total: 265 ms
Wall time: 298 ms

In [61]:
df_Physics_Total = pd.concat([df_Physics_Pri,df_Physics_Sub], ignore_index=True)
df_Physics_Sel = df_Physics_Total.loc[:,['Laureate ID','Paper ID','Is prize-winning paper']]
df_Physics_Sel

       Laureate ID      Paper ID Is prize-winning paper
0            10001  2.086860e+09                    YES
1            10001  1.967118e+09                     NO
2            10001  1.971620e+09                     NO
3            10001  1.972295e+09                     NO
4            10001  1.975883e+09                     NO
...            ...           ...                    ...
20429        10190  2.051988e+09                     NO
20430        10190  2.024612e+09                     NO
20431        10190  3.119211e+09                     NO
20432        10190  2.104120e+09                     NO
20433        10190  2.037894e+09                     NO

[20434 rows x 3 columns]

# Chemistry publication record.csv

In [62]:
df_Nobel_Chemistry = pd.read_csv('../../DataLake/Publications-Of-Nobel-Laureates/Chemistry publication record.csv',
                               encoding = "ISO-8859-1")
df_Nobel_Chemistry

,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,DOI,Journal,Affiliation,Is prize-winning paper
0,20001,"stoddart, j",2016,a molecular shuttle,1991,1.976039e+09,10.1021/ja00013a096,journal of the american chemical society,northwestern university,YES
1,20001,"stoddart, j",2016,chemical synthesis of nanostructures,1993,1.963538e+09,10.1557/PROC-330-57,mrs proceedings,northwestern university,NO
2,20001,"stoddart, j",2016,formation and x ray crystal structure of pt h2...,1981,1.963552e+09,10.1039/C39810000851,journal of the chemical society chemical commu...,northwestern university,NO
3,20001,"stoddart, j",2016,single walled carbon nanotubes under the influ...,2005,2.095637e+09,10.1002/smll.200400070,small,northwestern university,NO
4,20001,"stoddart, j",2016,synthesis of medium heterocyclic rings from 6 ...,1974,2.095679e+09,10.1016/S0008-6215(00)82105-9,carbohydrate research,northwestern university,NO
...,...,...,...,...,...,...,...,...,...,...
42652,20161,"richards, t",1914,neubestimmung des atomgewichtes von calcium,1902,2.171072e+09,10.1002/zaac.19020310114,zeitschrift fur anorganische und allgemeine ch...,harvard university,NO
42653,20161,"richards, t",1914,the committee of one hundred on scientific res...,1915,2.095420e+09,10.1126/science.41.1052.315,science,harvard university,NO
42654,20162,victor grignard,1912,regarding some new organometallic combinations...,1900,NaN,NaN,NaN,NaN,YES
42655,20163,"rutherford, e",1908,lxxxiv the radioactivity of thorium compounds ...,1902,2.035527e+09,10.1039/CT9028100837,journal of the chemical society transactions,NaN,YES
42656,20163,"rutherford, e",1908,xxxiii the radioactivity of thorium compounds ...,1902,2.164151e+09,10.1039/CT9028100321,journal of the chemical society transactions,NaN,NO

In [66]:
df_Nobel_Chemistry[pd.isnull(df_Nobel_Chemistry['Paper ID'])]

,Laureate ID,Laureate name,Prize year,Title,Pub year,Paper ID,DOI,Journal,Affiliation,Is prize-winning paper
30364,20084,"brown, h",1979,directive effects in aromatic substitution .30...,1958,NaN,NaN,NaN,NaN,YES
39898,20133,"virtanen, a",1945,the enzymatic fission and synthesis of asparag...,1932,NaN,NaN,NaN,NaN,YES
42226,20146,carl bosch,1931,formation of anthracite,1913,NaN,NaN,NaN,NaN,YES
42346,20155,fritz pregl,1923,method of determination of carbon and hydrogen...,1905,NaN,NaN,NaN,NaN,YES
42352,20156,"aston, f",1922,the possibility of separating isotopes.,1919,NaN,NaN,NaN,NaN,YES
42654,20162,victor grignard,1912,regarding some new organometallic combinations...,1900,NaN,NaN,NaN,NaN,YES

In [63]:
%%time
df_Chemistry_Pri = df_Nobel_Chemistry.loc[df_Nobel_Chemistry['Paper ID'].isin(df_MAG_Sel_wRC['MAGID']),:]

CPU times: user 33.2 s, sys: 2.51 s, total: 35.7 s
Wall time: 35.7 s

In [64]:
%%time
df_Chemistry_Sub = df_Nobel_Chemistry.loc[df_Nobel_Chemistry['Paper ID'].isin(df_MAG_Sub2Primary['0']),:]
df_Chemistry_Sub = df_Chemistry_Sub.copy()
df_Chemistry_Sub['Paper ID'] = df_Chemistry_Sub['Paper ID'].apply(sub_to_primary)

CPU times: user 278 ms, sys: 20.7 ms, total: 299 ms
Wall time: 297 ms

In [65]:
df_Chemistry_Total = pd.concat([df_Chemistry_Pri,df_Chemistry_Sub], ignore_index=True)
df_Chemistry_Sel = df_Chemistry_Total.loc[:,['Laureate ID','Paper ID','Is prize-winning paper']]
df_Chemistry_Sel

       Laureate ID      Paper ID Is prize-winning paper
0            20001  1.976039e+09                    YES
1            20001  1.963538e+09                     NO
2            20001  1.963552e+09                     NO
3            20001  2.095637e+09                     NO
4            20001  2.095679e+09                     NO
...            ...           ...                    ...
38128        20161  2.037407e+09                     NO
38129        20161  2.329050e+09                     NO
38130        20161  3.119648e+09                     NO
38131        20161  2.327474e+09                     NO
38132        20161  2.328571e+09                     NO

[38133 rows x 3 columns]

# Agg three

In [69]:
df_Agg = pd.concat([df_Medicine_Sel,df_Physics_Sel,df_Chemistry_Sel],ignore_index=True)
df_Agg

       Laureate ID      Paper ID Is prize-winning paper
0            30001  2.011580e+09                    YES
1            30001  2.126802e+09                    YES
2            30001  1.964053e+09                     NO
3            30001  1.964258e+09                     NO
4            30001  2.096146e+09                     NO
...            ...           ...                    ...
87311        20161  2.037407e+09                     NO
87312        20161  2.329050e+09                     NO
87313        20161  3.119648e+09                     NO
87314        20161  2.327474e+09                     NO
87315        20161  2.328571e+09                     NO

[87316 rows x 3 columns]

In [70]:
len(df_Agg) / 93394

0.9349208728612116

In [71]:
df_Agg[df_Agg['Is prize-winning paper'] == 'YES']

       Laureate ID      Paper ID Is prize-winning paper
0            30001  2.011580e+09                    YES
1            30001  2.126802e+09                    YES
208          30003  2.082910e+09                    YES
1130         30004  2.112130e+09                    YES
1215         30005  1.970793e+09                    YES
...            ...           ...                    ...
86581        20009  2.491367e+09                    YES
86917        20060  2.951849e+09                    YES
87240        20108  2.029184e+09                    YES
87289        20142  2.343152e+09                    YES
87305        20152  1.990809e+09                    YES

[813 rows x 3 columns]

In [74]:
SciNet_Link_Paper_NobelLaureates = df_Agg.copy()
SciNet_Link_Paper_NobelLaureates

       Laureate ID      Paper ID Is prize-winning paper
0            30001  2.011580e+09                    YES
1            30001  2.126802e+09                    YES
2            30001  1.964053e+09                     NO
3            30001  1.964258e+09                     NO
4            30001  2.096146e+09                     NO
...            ...           ...                    ...
87311        20161  2.037407e+09                     NO
87312        20161  2.329050e+09                     NO
87313        20161  3.119648e+09                     NO
87314        20161  2.327474e+09                     NO
87315        20161  2.328571e+09                     NO

[87316 rows x 3 columns]

In [75]:
%%time
SciNet_Link_Paper_NobelLaureates.rename(columns={'Laureate ID':'LaureateID',
                                                 'Paper ID':'PaperID', 'Is prize-winning paper':'Type'}, inplace=True)
SciNet_Link_Paper_NobelLaureates

CPU times: user 0 ns, sys: 697 µs, total: 697 µs
Wall time: 701 µs

       LaureateID       PaperID Type
0           30001  2.011580e+09  YES
1           30001  2.126802e+09  YES
2           30001  1.964053e+09   NO
3           30001  1.964258e+09   NO
4           30001  2.096146e+09   NO
...           ...           ...  ...
87311       20161  2.037407e+09   NO
87312       20161  2.329050e+09   NO
87313       20161  3.119648e+09   NO
87314       20161  2.327474e+09   NO
87315       20161  2.328571e+09   NO

[87316 rows x 3 columns]

In [76]:
def ChangeType(text):
    if text == 'YES':
        return 1
    else:
        return 0
ChangeType('YES')

1

In [77]:
SciNet_Link_Paper_NobelLaureates['Type'] = SciNet_Link_Paper_NobelLaureates['Type'].apply(ChangeType)
SciNet_Link_Paper_NobelLaureates

       LaureateID       PaperID  Type
0           30001  2.011580e+09     1
1           30001  2.126802e+09     1
2           30001  1.964053e+09     0
3           30001  1.964258e+09     0
4           30001  2.096146e+09     0
...           ...           ...   ...
87311       20161  2.037407e+09     0
87312       20161  2.329050e+09     0
87313       20161  3.119648e+09     0
87314       20161  2.327474e+09     0
87315       20161  2.328571e+09     0

[87316 rows x 3 columns]

In [78]:
SciNet_Link_Paper_NobelLaureates['PaperID'] = SciNet_Link_Paper_NobelLaureates['PaperID'].astype(int)
SciNet_Link_Paper_NobelLaureates

       LaureateID     PaperID  Type
0           30001  2011580247     1
1           30001  2126801593     1
2           30001  1964052965     0
3           30001  1964257510     0
4           30001  2096146492     0
...           ...         ...   ...
87311       20161  2037406859     0
87312       20161  2329049517     0
87313       20161  3119648049     0
87314       20161  2327474235     0
87315       20161  2328570714     0

[87316 rows x 3 columns]

In [79]:
SciNet_Link_Paper_NobelLaureates[SciNet_Link_Paper_NobelLaureates['Type'] == 1]

       LaureateID     PaperID  Type
0           30001  2011580247     1
1           30001  2126801593     1
208         30003  2082909688     1
1130        30004  2112130390     1
1215        30005  1970792572     1
...           ...         ...   ...
86581       20009  2491366928     1
86917       20060  2951848845     1
87240       20108  2029184195     1
87289       20142  2343151988     1
87305       20152  1990808894     1

[813 rows x 3 columns]

In [82]:
SciNet_Link_Paper_NobelLaureates.to_csv('./Data-Linkage/SciNet_Link_Paper_NobelLaureates_Raw.tsv', 
                                        sep='\t', index=False)